# OOPS

In [2]:
class EmpDetails():
    
    def emp_fname(self):
        pass
    
    def emp_lname(self):
        pass
    
    def emp_fullname(self):
        pass
    
    def emp_salary(self):
        pass
    
    def company_name(self):
        pass
    
    def emp_designation(self):
        pass
    
emp1 = EmpDetails()

In [3]:
class EmpDetails():
    
    def emp_fname(self,name):
        print(f"First name = {name}")
    
    def emp_lname(self,lname):
        print(f"Last name = {lname}")
    
    def emp_fullname(self):
        pass
    
    def emp_salary(self,salary):
        print(f"Salary = {salary}")
        
    def company_name(self,c_name):
        print(f"C_Name = {c_name}")
    
    def emp_designation(self,Designation):
        print(f"Designation = {Designation}")
    
emp1 = EmpDetails()

In [4]:
emp1.emp_fname("Akshata")

First name = Akshata

In [5]:
emp2 = EmpDetails()
emp2.emp_designation("Data Scientist")

Designation = Data Scientist

In [6]:
emp2.emp_salary(1500000)

Salary = 1500000

In [7]:
class EmpDetails():
    var = "Python"
    
    def emp_fname(self,name):
        self.name = name
        print(f"First name = {name}")
    
    def emp_lname(self,lname):
        self.lname = lname
        print(f"Last name = {lname}")
    
    def emp_fullname(self):
        print(f"The Employee Full name = {self.name} {self.lname}")
    
    def emp_salary(self,salary):
        print(f"Salary = {salary}")
        
    def company_name(self,c_name):
        print(f"C_Name of {self.name} {self.lname}= {c_name}")
    
    def emp_designation(self,Designation):
        print(f"Designation = {Designation}")

In [8]:
emp1 = EmpDetails()
emp1.emp_fname("Yash")
emp1.emp_lname("Sawant")
emp1.emp_fullname()

First name = Yash
Last name = Sawant
The Employee Full name = Yash Sawant

In [9]:
emp1.company_name("TCS")

C_Name of Yash Sawant= TCS

In [10]:
emp1.emp_fname("XYZ")

First name = XYZ

In [11]:
emp1.var

'Python'

# init :- It will execute automatically when we create an new object

In [12]:
class Test_init():
    def __init__(self):
        print("Executing __init__ method")

In [14]:
t1 = Test_init()
t2 = Test_init()
t3 = Test_init()

Executing __init__ method
Executing __init__ method
Executing __init__ method

In [15]:
class Test_init():
    def __init__(self,f_var,s_var):
        print("Executing __init__ method")
        self.fvar = f_var
        self.svar = s_var
        print(f"Init method fvar = {self.fvar}")
        print(f"Init method svar = {self.svar}")
        
    def first_method(self,first_val):
        print(f"In the first method and prinitng the first variable {self.fvar}")
        print(first_val)
        
    def second_method(self):
        print(f"In the second method and pritnig the second variable {self.svar}")

In [16]:
t1 =Test_init("Python","Data Science")

Executing __init__ method
Init method fvar = Python
Init method svar = Data Science

In [17]:
t2 = Test_init("DS","NLP")

Executing __init__ method
Init method fvar = DS
Init method svar = NLP

In [18]:
t2.second_method()

In the second method and pritnig the second variable NLP

In [19]:
t2.first_method("Deep learning")

In the first method and prinitng the first variable DS
Deep learning

In [20]:
t2.fvar

'DS'

In [21]:
t2.svar

'NLP'

In [22]:
class EmpDetails():
    var = "Python"
    def __init__(self,name,salary,c_name,designation):
        print("Initializing all variables")
        self.name = name
        self.salary = salary
        self.c_name = c_name
        self.designation = designation
        print(self.name)
        print(self.salary)
        print(self.c_name)
        print(self.designation)
    
    def emp_fname(self):
        print(f"First name = {self.name}")
        print(f"Class Variable = {self.var}")
        
    def emp_salary(self):
        print(f"Salary = {self.salary}")
        
    def company_name(self):
        print(f"C_Name of {self.name} = {self.c_name}")
        
    def emp_designation(self):
        print(f"Designation = {self.designation}")

In [23]:
e1 =EmpDetails("Rakesh",1500000,"Accenture","Data Engineer")

Initializing all variables
Rakesh
1500000
Accenture
Data Engineer

In [24]:
e1.emp_fname()

First name = Rakesh
Class Variable = Python

In [26]:
e1.emp_salary()

Salary = 1500000

In [27]:
e1.emp_designation()

Designation = Data Engineer

In [28]:
e1.company_name()

C_Name of Rakesh = Accenture

In [29]:
e2 = EmpDetails("Rutik",1300000,"Wipro","Data Analyst")

Initializing all variables
Rutik
1300000
Wipro
Data Analyst

In [30]:
class Employee():
    pass

In [31]:
emp1 =Employee()

In [32]:
emp1.fname = "Nitin"
emp1.lname = "Kumar"

In [34]:
emp1.fname

'Nitin'

In [35]:
emp1.lname

'Kumar'

In [37]:
print(emp1.__dict__)

{'fname': 'Nitin', 'lname': 'Kumar'}

In [38]:
print(e1.__dict__)

{'name': 'Rakesh', 'salary': 1500000, 'c_name': 'Accenture', 'designation': 'Data Engineer'}

In [39]:
dir(EmpDetails)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'company_name',
 'emp_designation',
 'emp_fname',
 'emp_salary',
 'var']

In [40]:
dir(Employee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [41]:
dir(emp1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'fname',
 'lname']

In [42]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [44]:
class Employee:
    def __init__(self,fname,lname):
        self.fname = fname
        self.lname = lname
        self.email = fname.lower() + "." + lname.lower() +"@gmail.com"
        
    def get_Fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail Id = {self.email}")

In [45]:
emp1 =Employee("Rajesh","Pawar")

In [47]:
emp1.get_Fullname()

Full Name = Rajesh Pawar
Mail Id = rajesh.pawar@gmail.com

In [48]:
emp2 =Employee("Sakshi","More")

In [49]:
Employee.get_Fullname(emp2)

Full Name = Sakshi More
Mail Id = sakshi.more@gmail.com

In [50]:
Employee.get_Fullname(emp1)

Full Name = Rajesh Pawar
Mail Id = rajesh.pawar@gmail.com

# Class Variable

In [56]:
class Employee:
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay =pay
        self.email = fname.lower() + "." + lname.lower() +"@gmail.com"
        
    def get_Fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail Id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * 5

In [63]:
emp1 =Employee("Nitin","Kumar",1500000)
emp2 =Employee("Ankush","Shinde",1500000)

In [64]:
print(emp1.pay)

1500000

In [65]:
emp1.apply_raise()

In [66]:
print(emp1.pay)

7500000

In [67]:
emp2.pay

1500000

In [68]:
emp2.apply_raise()

In [69]:
print(emp2.pay)

7500000

In [70]:
emp2.pay = 7

In [71]:
emp2.apply_raise()

In [72]:
emp2.pay

35

In [73]:
class Employee:
    raise_ammount = 3
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() +"@gmail.com"
        
    def get_Fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail Id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * Employee.raise_ammount

In [74]:
emp1 = Employee("Rahim","Sahikh",1500000)
emp2 = Employee("Roshan","More",1500000)

In [76]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

1500000
4500000

In [77]:
Employee.raise_ammount = 5
print(emp2.pay)
emp2.apply_raise()
print(emp2.pay)

1500000
7500000

In [78]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

4500000
22500000

In [80]:
Employee.raise_ammount

5

In [81]:
class Employee:
    raise_ammount = 3
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() +"@gmail.com"
        
    def get_Fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail Id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_ammount

In [82]:
emp1 = Employee("Rahim","Shaikh",5)
emp2 = Employee("Ankur","Patait",6)

In [83]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

5
15

In [84]:
print(emp2.raise_ammount)
print(emp2.pay)
emp2.apply_raise()
print(emp2.pay)

3
6
18

In [85]:
emp2.raise_ammount = 5
print(emp2.raise_ammount)
print(emp2.pay)
emp2.apply_raise()
print(emp2.pay)

5
18
90

In [86]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

15
45

In [87]:
class Employee:
    raise_ammount = 3
    NoOfEmp = 0
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() +"@gmail.com"
        Employee.NoOfEmp += 1
    def get_Fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail Id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_ammount

In [88]:
emp1 = Employee("Rahim","Shaikh",5)
emp2 = Employee("Ankur","Patait",6)
emp3 = Employee("Rahim","Shaikh",5)
emp4 = Employee("Ankur","Patait",6)
emp5 = Employee("Rahim","Shaikh",5)
emp6 = Employee("Ankur","Patait",6)

In [89]:
Employee.NoOfEmp

6

In [90]:
class Employee:
    raise_ammount = 3
    NoOfEmp = 0
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() + "@gmail.com"
        self.NoOfEmp += 1
        
    def get_fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_ammount
        
emp1 = Employee("Rahim","Shaikh",5)
emp2 = Employee("Ankur","Patait",6)
emp3 = Employee("Rahim","Shaikh",5)
emp4 = Employee("Ankur","Patait",6)
emp5 = Employee("Rahim","Shaikh",5)
emp6 = Employee("Ankur","Patait",6)

In [91]:
Employee.NoOfEmp

0

In [92]:
class A:
    n = 0
    def __init__(self):
        self.n += 1
        
print(A.n)
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
print(A.n)

0
0

In [95]:
class A:
    n = 0
    def __init__(self):
        A.n += 1
        
print(A.n)
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
print(A.n)

0
10

In [96]:
class calc():
    def __init__(self,a,b):
        self.a = a
        self.b = b
        
    def addition(self):
        print(f"Addition ----> {self.a+self.b}")

In [97]:
Operation1 = calc(10,50)

In [98]:
Operation1.addition()

Addition ----> 60

In [102]:
class list1():
    pass

In [106]:
li = list1()

In [107]:
li