# Print function

In [6]:
var1 = 100
var2 = 200
print("The value of var1 and var2 = ", var1 , var2)

The value of var1 and var2 =  100 200

In [7]:
var1 = "Python"
var2= "Data science"
print("The values of var1 and var2 = ", var1, var2)

The values of var1 and var2 =  Python Data science

In [9]:
var1 = "Python"
var2= "Data science"
print("The value of var1 = ", var1, "The value of var2 = ",var2)

The value of var1 =  Python The value of var2 =  Data science

In [11]:
num1 = 10
num2 = 20
addtion = num1 + num2
print("The addition of num1 and num2 = ",num1+num2)

The addition of num1 and num2 =  30

In [15]:
num1 = 10
num2 = 20
addition = num1 + num2
print("The addition of num1" ,num1 , "and num2", num2, "is eqal to",addition)

The addition of num1 10 and num2 20 is eqal to 30

## f-string

In [17]:
num1 = 10
num2 = 20
addtion = num1 + num2
print(f"The addition of num1 and num2 is = {addition}")

The addition of num1 and num2 is = 30

In [19]:
num1 = 10
num2 = 20
addtion = num1 + num2
print(f"The addition of {num1} and {num2} = {addition}")

The addition of 10 and 20 = 30

In [24]:
num1 = 10
num2 = 20
multiplication = num1 * num2
print(f"The Multiplication of {num1} and {num2} = {multiplication}")

The Multiplication of 10 and 20 = 200

In [27]:
a = 5
b = 10 
addition = a + b
print("The addition of a + b =",addition)
print(f"The addition of a and b = {addition}")

The addition of a + b = 15
The addition of a and b = 15

## . Format string

In [28]:
a = 50
b = 10
div = a / b
print("The Division of {} and {} is equal to {} ".format(a,b,div))

The Division of 50 and 10 is equal to 5.0

In [31]:
a = 50
b = 10
floor_div = a // b
print("The Division of {0} and {1} is equal to {2} ".format(a,b,floor_div))

The Division of 50 and 10 is equal to 5

In [39]:
x = 500
y = 300
add = x + y
sub = x - y
print("The Addition of {} and {} is equal to {}".format(x,y,add))
print("The sub of {0} and {1} = {2}".format(x,y,sub))

The Addition of 500 and 300 is equal to 800
The sub of 500 and 300 = 200

In [41]:
print("Hi {}".format(0))

Hi 0

In [42]:
a = "Mohit"
print("Hi {}".format(a))

Hi Mohit

In [44]:
a = 500
b = 100
div = a / b
floor_div = a // b
print("The division of {} and {} = {}".format(a,b,div))
print("The Floor division of {} and {} = {}".format(a,b,floor_div))

The division of 500 and 100 = 5.0
The Floor division of 500 and 100 = 5

In [46]:
a = 500
b = 100
div = a / b
floor_div = a // b
print("The division of {0} and {1} = {2}".format(a,b,div))
print("The Floor division of {0} and {1} = {2}".format(a,b,floor_div))

The division of 500 and 100 = 5.0
The Floor division of 500 and 100 = 5

In [50]:
a = 500
b = 100
div = a / b
# floor_div = a // b
print("The division of {2} and {1} = {0}".format(a,b,div))
# print("The Floor division of {0} and {1} = {2}".format(a,b,floor_div))

The division of 5.0 and 100 = 500

In [53]:
x = 100
y = 50
z = "Python"
sub = x - y
print("The sub of {} and {} is equal to {}".format(x,y,sub))
print("The value of {} and {} = {}  {}".format(x,y,sub,z))

The sub of 100 and 50 is equal to 50
The value of 100 and 50 = 50  Python

In [57]:
x = 100
y = 50
z = "Python"
sub = x - y
print("The value of x = {x} and The value of y = {y} and the value of z = {z}",f"The sub of x and y = {sub} ".format(x,y,z,sub))

The value of x = {x} and The value of y = {y} and the value of z = {z} The sub of x and y = 50

In [13]:
a = 500
b = 100
print("a = {} and b = {} a-b = {}".format(a,b,a-b))

a = 500 and b = 100 a-b = 400

In [15]:
list1 = [1,2,3,4]
print("list = {} ".format(list1))    # .format
print(f"list = {list1}")             # f string

list = [1, 2, 3, 4]
list = [1, 2, 3, 4]

In [18]:
list1 = [1,2,3,4]
print("list = {} , The type = {} ".format(list1,type(list1)))  
print(f"list = {list1} , The type = {type(list1)}")

list = [1, 2, 3, 4] , The type = <class 'list'>
list = [1, 2, 3, 4] , The type = <class 'list'>

In [28]:
tup = (10,20,30,40)
print("Tuple = {} and the type is {}".format(tup,type(tup)))
print(f"Tuple = {tup} and the type is {type(tup)}")

Tuple = (10, 20, 30, 40) and the type is <class 'tuple'>
Tuple = (10, 20, 30, 40) and the type is <class 'tuple'>

In [29]:
set1 = {100,200,300}
print("The set = {} and The Type = {}".format(set1,type(set1)))
print(f"The set = {set1} and The Type = {type(set1)}")

The set = {200, 100, 300} and The Type = <class 'set'>
The set = {200, 100, 300} and The Type = <class 'set'>

In [1]:
for i in range (8):
    for j in range (8):
        print("*",end =" ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *