# Data types
- Numeric >>> int, float, complex
- Text >>> str
- Sequence >>> list, tuple, range
- Mapping >>> dict
- Set >>> set, frozenset
- Boolean >>> bool (True and False)
- bytearray

## Numeric data types


### 1. int
- int contains whole numbers
- +ve  and - ve numbers

In [1]:
num = 15
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 15 and The Data Type = <class 'int'>

In [2]:
num = 0
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 0 and The Data Type = <class 'int'>

In [3]:
num = -15
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = -15 and The Data Type = <class 'int'>

In [4]:
num = 15516548
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 15516548 and The Data Type = <class 'int'>

### 2.float
- float contains all decimal points
- +ve or - ve

In [5]:
num = 1.5
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 1.5 and The Data Type = <class 'float'>

In [6]:
num = 0.0
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 0.0 and The Data Type = <class 'float'>

In [7]:
num = -52.55
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = -52.55 and The Data Type = <class 'float'>

In [8]:
num = 25.564564845
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 25.564564845 and The Data Type = <class 'float'>

In [9]:
num = 0
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 0 and The Data Type = <class 'int'>

### complex data type
- complex data type conatins real and imaginary part

In [10]:
num = 5 + 10j
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = (5+10j) and The Data Type = <class 'complex'>

In [11]:
num = 5 - 10j
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = (5-10j) and The Data Type = <class 'complex'>

In [13]:
num = 0 - 20j
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = -20j and The Data Type = <class 'complex'>

In [14]:
num = 0 + 0j
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 0j and The Data Type = <class 'complex'>

# Python type casting
- Here we need to specify data type
- int()
- float()
- str()
- complex()

### 1. int to float

In [15]:
num = 40
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 40 and The Data Type = <class 'int'>

In [19]:
num = 40
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 40 and The Data Type = <class 'int'>

************************************************************

The Number = 40.0 and The Data Type = <class 'float'>

In [22]:
num = -40
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = -40 and The Data Type = <class 'int'>

************************************************************

The Number = -40.0 and The Data Type = <class 'float'>

In [24]:
num = 0
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 0 and The Data Type = <class 'int'>

************************************************************

The Number = 0.0 and The Data Type = <class 'float'>

### 2. float to int

In [25]:
num = 5.7
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 5.7 and The Data Type = <class 'float'>

************************************************************

The Number = 5 and The Data Type = <class 'int'>

In [26]:
num = - 5.7
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = -5.7 and The Data Type = <class 'float'>

************************************************************

The Number = -5 and The Data Type = <class 'int'>

In [27]:
num = 5.7548415484654
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 5.7548415484654 and The Data Type = <class 'float'>

************************************************************

The Number = 5 and The Data Type = <class 'int'>

In [1]:
x = 22/7
x

3.142857142857143

In [3]:
x = round(x,2)
x

3.14

In [5]:
x = round(x,5)
x

3.14

### 3 . int to complex

In [38]:
num = 40
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 40 and The Data Type = <class 'int'>

************************************************************

The Number = (40+0j) and The Data Type = <class 'complex'>

In [39]:
num = - 40
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = -40 and The Data Type = <class 'int'>

************************************************************

The Number = (-40+0j) and The Data Type = <class 'complex'>

In [40]:
num = 0
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 0 and The Data Type = <class 'int'>

************************************************************

The Number = 0j and The Data Type = <class 'complex'>

###  4. float to complex

In [41]:
num = 5.7
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 5.7 and The Data Type = <class 'float'>

************************************************************

The Number = (5.7+0j) and The Data Type = <class 'complex'>

In [42]:
num = - 5.7
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = -5.7 and The Data Type = <class 'float'>

************************************************************

The Number = (-5.7+0j) and The Data Type = <class 'complex'>

In [43]:
num = 5.7453453453453
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 5.7453453453453 and The Data Type = <class 'float'>

************************************************************

The Number = (5.7453453453453+0j) and The Data Type = <class 'complex'>

### 5. complex to int
- we cannot convert complex to int

In [44]:
num = 5 + 8j
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = (5+8j) and The Data Type = <class 'complex'>

************************************************************

TypeError: can't convert complex to int

### 6. complex to float
- we cannot convert complex to float

In [45]:
num = 5 + 8j
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = (5+8j) and The Data Type = <class 'complex'>

************************************************************

TypeError: can't convert complex to float

### 7. int to string

In [47]:
num = 40
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = str(num)
print(f"The Number = {num} and The Data Type = {type(num)}")
num

The Number = 40 and The Data Type = <class 'int'>

************************************************************

The Number = 40 and The Data Type = <class 'str'>

'40'

In [49]:
num = -500000
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = str(num)
print(f"The Number = {num} and The Data Type = {type(num)}")
num

The Number = -500000 and The Data Type = <class 'int'>

************************************************************

The Number = -500000 and The Data Type = <class 'str'>

'-500000'

### 8. float to string

In [50]:
num = 95.12
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = str(num)
print(f"The Number = {num} and The Data Type = {type(num)}")
num

The Number = 95.12 and The Data Type = <class 'float'>

************************************************************

The Number = 95.12 and The Data Type = <class 'str'>

'95.12'

In [51]:
num = 2.54646548484
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = str(num)
print(f"The Number = {num} and The Data Type = {type(num)}")
num

The Number = 2.54646548484 and The Data Type = <class 'float'>

************************************************************

The Number = 2.54646548484 and The Data Type = <class 'str'>

'2.54646548484'

### 9.string to int

In [53]:
num = "500"
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 500 and The Data Type = <class 'str'>

************************************************************

The Number = 500 and The Data Type = <class 'int'>

In [57]:
num = "50 00"
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 50 00 and The Data Type = <class 'str'>

************************************************************

ValueError: invalid literal for int() with base 10: '50 00'

In [58]:
num = "50 -"
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 50 - and The Data Type = <class 'str'>

************************************************************

ValueError: invalid literal for int() with base 10: '50 -'

In [59]:
num = " 500 "
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number =  500  and The Data Type = <class 'str'>

************************************************************

The Number = 500 and The Data Type = <class 'int'>

In [60]:
num = "               500"
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number =                500 and The Data Type = <class 'str'>

************************************************************

The Number = 500 and The Data Type = <class 'int'>

### 10. string to float

In [61]:
num = "500"
print(f"The Number = {num} and The Data Type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and The Data Type = {type(num)}")

The Number = 500 and The Data Type = <class 'str'>

************************************************************

The Number = 500.0 and The Data Type = <class 'float'>

In [9]:
string1 = "Python is a high-level, interpreted, general-purpose 1'st2'nd programming language."
string1

"Python is a high-level, interpreted, general-purpose 1'st2'nd programming language."