# String

In [1]:
str1 = "Python"

 P  y  t  h  o  n
 0  1  2  3  4  5
-6 -5 -4 -3 -2 -1

In [4]:
str1[0]

'P'

In [5]:
str1[-1]

'n'

In [6]:
str1[-4]

't'

## String Slicing

Syntax = string[start_index:end _index]

In [7]:
str1 = "Python and Data science"
str1[:]

'Python and Data science'

In [8]:
str1[5:]

'n and Data science'

In [10]:
str1[:8]

'Python a'

In [13]:
str1[7:18]

'and Data sc'

## Negative slicing

 P  y  t  h  o  n
 0  1  2  3  4  5
-6 -5 -4 -3 -2 -1

In [14]:
str1

'Python and Data science'

In [15]:
str1[-8:]

' science'

In [16]:
str1[:-15]

'Python a'

In [19]:
str1[-7:-1]

'scienc'

# Step size
- Syntax = string[start_index:end_index:step_size]

In [20]:
str1

'Python and Data science'

In [21]:
str1[0:6]

'Python'

In [22]:
str1[0:15:1]

'Python and Data'

In [24]:
str1[0:15:2]     #It adds 2 in current index and goes on

'Pto n aa'

In [26]:
str1[0:20:3]

'Ph da i'

In [27]:
str1[::2]

'Pto n aasine'

In [45]:
str1[-1:-15]

''

In [47]:
str1[-15:-1]

'nd Data scienc'

In [48]:
str1[-15:-1:2]

'n aasin'

## Reversed string
- It used to reverse the whole string

In [49]:
str1

'Python and Data science'

In [50]:
str1[::-1]

'ecneics ataD dna nohtyP'

In [55]:
str1[-10::-2]

'tDdanhy'

In [57]:
str1[12:0:-1]

'aD dna nohty'

# Access char by using for loop

Syntax:-
        
for var_name in sequence:
     statement 1
     statement 2
     statement 3
     statement 4
          .
          .
     statement n

In [58]:
str1 = "Python"
str1

'Python'

In [59]:
len(str1)

6

In [60]:
for char in str1:
    print("This is string")

This is string
This is string
This is string
This is string
This is string
This is string

In [62]:
for char in str1:
    print(char)

P
y
t
h
o
n

In [63]:
for char in str1:
    print(f"The char is = {char}")

The char is = P
The char is = y
The char is = t
The char is = h
The char is = o
The char is = n

In [65]:
for char in str1:
    print(f"The char is = {char}")
    print("-"*20)

The char is = P
--------------------
The char is = y
--------------------
The char is = t
--------------------
The char is = h
--------------------
The char is = o
--------------------
The char is = n
--------------------

In [71]:
index_number = 3
for char in str1:
    print(f"The index no = {index_number} and The char is = {str1[index_number]}")
    print("-"*20)

The index no = 3 and The char is = h
--------------------
The index no = 3 and The char is = h
--------------------
The index no = 3 and The char is = h
--------------------
The index no = 3 and The char is = h
--------------------
The index no = 3 and The char is = h
--------------------
The index no = 3 and The char is = h
--------------------

In [72]:
index_number = 1
for char in str1:
    print(f"The index no = {index_number} and The char is = {str1[index_number]}")
    print("-"*20)

The index no = 1 and The char is = y
--------------------
The index no = 1 and The char is = y
--------------------
The index no = 1 and The char is = y
--------------------
The index no = 1 and The char is = y
--------------------
The index no = 1 and The char is = y
--------------------
The index no = 1 and The char is = y
--------------------

In [76]:
index_number = 0
print(str1[index_number])
index_number = 0 + 1
print(str1[index_number])
index_number = 0 + 2
print(str1[index_number])
index_number = 0 + 3
print(str1[index_number])
index_number = 0 + 4
print(str1[index_number])
index_number = 0 + 5
print(str1[index_number])

P
y
t
h
o
n

In [82]:
index_number = 0
for char in str1:
    print(f"The index no = {index_number}")
    print(f"The char is = {char}")
    print("-"*20)
    index_number = index_number + 1

The index no = 0
The char is = P
--------------------
The index no = 1
The char is = y
--------------------
The index no = 2
The char is = t
--------------------
The index no = 3
The char is = h
--------------------
The index no = 4
The char is = o
--------------------
The index no = 5
The char is = n
--------------------

In [86]:
abc = "Machine Learning"

index_number = 0
for char in abc:
    print(f"The index = {index_number}")
    print(f"The char = {char}")
    print("<>"*10)
    index_number = index_number + 1

The index = 0
The char = M
<><><><><><><><><><>
The index = 1
The char = a
<><><><><><><><><><>
The index = 2
The char = c
<><><><><><><><><><>
The index = 3
The char = h
<><><><><><><><><><>
The index = 4
The char = i
<><><><><><><><><><>
The index = 5
The char = n
<><><><><><><><><><>
The index = 6
The char = e
<><><><><><><><><><>
The index = 7
The char =
<><><><><><><><><><>
The index = 8
The char = L
<><><><><><><><><><>
The index = 9
The char = e
<><><><><><><><><><>
The index = 10
The char = a
<><><><><><><><><><>
The index = 11
The char = r
<><><><><><><><><><>
The index = 12
The char = n
<><><><><><><><><><>
The index = 13
The char = i
<><><><><><><><><><>
The index = 14
The char = n
<><><><><><><><><><>
The index = 15
The char = g
<><><><><><><><><><>

# enumerate ()

In [87]:
str1

'Python'

 P  y  t  h  o  n
 0  1  2  3  4  5
-6 -5 -4 -3 -2 -1

In [90]:
for index, char in enumerate(str1):
    print(f"The index number = {index} and The char = {char}")

The index number = 0 and The char = P
The index number = 1 and The char = y
The index number = 2 and The char = t
The index number = 3 and The char = h
The index number = 4 and The char = o
The index number = 5 and The char = n

In [2]:
abc='Machine Learning'

In [3]:
for index, char in enumerate(abc,2):
    print(f"The index = {index} and The char = {char}")

The index = 2 and The char = M
The index = 3 and The char = a
The index = 4 and The char = c
The index = 5 and The char = h
The index = 6 and The char = i
The index = 7 and The char = n
The index = 8 and The char = e
The index = 9 and The char =
The index = 10 and The char = L
The index = 11 and The char = e
The index = 12 and The char = a
The index = 13 and The char = r
The index = 14 and The char = n
The index = 15 and The char = i
The index = 16 and The char = n
The index = 17 and The char = g

In [97]:
for char in "python":
    print(char)

p
y
t
h
o
n

for char in "Python":
    print(char)         
    
1 iteration grab 0 indexed_value = P
2 iteration grab 1 indexed_value = y
3 iteration grab 2 indexed_value = t
4 iteration grab 3 indexed_value = h
5 iteration grab 4 indexed_value = o
6 iteration grab 5 indexed_value = n