# String function

if condition:
    statement -1
    statement -2
    statement -3
    statement -4
         .
    statement -n
else condition:
    statement -1
    statement -2
    statement -3
    statement -4
         .
    statement -5

In [1]:
num = 100
if num == 100:    #True = statements in if block gets executed
    print(f"The {num} is equal to 100")
else:
    print(f"The {num} is not equal to 100")

The 100 is equal to 100

In [2]:
num = 10000
if num == 100:    #False = statements in else block will gets executed
    print(f"The {num} is equal to 100")
else:
    print(f"The {num} is not equal to 100")

The 1000 is not equal to 100

In [6]:
a = 10
b = 20
if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{a} is lesser than {b}")

10 is lesser than 20

In [7]:
a = 100
b = 20
if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{a} is lesser than {b}")

100 is greater than 20

In [8]:
str1 = "Python"
str2 = "python"
if str1 == str2:
    print(f"{str1} and {str2} are same")
else:
    print(f"{str1} and {str2} are not same")

Python and python are not same

In [12]:
str1 = "Python"
str2 = "python"
str2 = str2.capitalize()
if str1 == str2:
    print(f"{str1} and {str2} are same")
else:
    print(f"{str1} and {str2} are not same")

Python and Python are same

In [13]:
str1 = "Python"
str2 = "python"
str1 = str1.lower()
str2 = str2.lower()
if str1 == str2:
    print(f"{str1} and {str2} are same")
else:
    print(f"{str1} and {str2} are not same")

python and python are same

In [15]:
adhar_name = "Samantha Prabhu"
pan_name = "SAMANTHA PRBHU"
if adhar_name == pan_name:
    print(f"Both names are same")
else:
    print(f"Both names are different")

Both names are different

In [19]:
adhar_name = "Samantha Prabhu"
pan_name = "SAMANTHA PRABHU"
adhar_name = adhar_name.upper()
if adhar_name == pan_name:
    print(f"Both names are same")
else:
    print(f"Both names are different")

Both names are same

In [25]:
adhar_name = "Samantha Prabhu"
pan_name = "SAMANTHA PRABHU"
adhar_name = adhar_name.lower()
pan_name  = pan_name.lower()
print(f"Adhar name = {adhar_name}")
print(f"Pan name = {pan_name}")
print("*"*40)
if adhar_name == pan_name:
    print(f"Both names are same")
else:
    print(f"Both names are different")

Adhar name = samantha prabhu
Pan name = samantha prabhu
****************************************
Both names are same

In [20]:
adhar_name = "Samantha Prabhu"
pan_name = "SAMANTHA PRABHU"
adhar_name = adhar_name.lower()
pan_name  = pan_name.lower()
if adhar_name == pan_name:
    print(f"Both names are same")
else:
    print(f"Both names are different")

Both names are same

## 5. lstrip()
- removes all leading whitespaces

In [31]:
adhar_name = "       Samantha Prabhu"
pan_name = "SAMANTHA PRABHU"

print(f"Adhar name = {adhar_name}")
print(f"Pan name = {pan_name}")
print("*"*50)

adhar_name = adhar_name.lower()
pan_name = pan_name.lower()

adhar_name = adhar_name.lstrip()     # lstrip removed all spaces

print(f"Adhar name = {adhar_name}")
print(f"Pan name = {pan_name}")
print("*"*50)
if adhar_name == pan_name:
    print(f"Both names are same")
else:
    print(f"Both names are different")

Adhar name =        Samantha Prabhu
Pan name = SAMANTHA PRABHU
**************************************************
Adhar name = samantha prabhu
Pan name = samantha prabhu
**************************************************
Both names are same

In [34]:
print(len("       "))
len("          ".lstrip())     #>>>lstrip doesnt count spaces

7

0

In [35]:
"      Python".lstrip()

'Python'

In [36]:
"     Python     ".lstrip()

'Python     '

## 6.rstrip()
- removes all trailing whitespaces in string

In [38]:
adhar_name = "Samantha Prabhu"
pan_name = "SAMANTHA PRABHU          "
adhar_name = adhar_name.lower()
pan_name  = pan_name.lower()

pan_name = pan_name.rstrip()

if adhar_name == pan_name:
    print(f"Both names are same")
else:
    print(f"Both names are different")

Both names are same

In [39]:
"python"

'python'

In [40]:
"python         ".rstrip()

'python'

In [41]:
"     pyhton       ".rstrip()

'     pyhton'

In [44]:
"     pyhton       ".lstrip().rstrip()

'pyhton'

## 7. strip()
- Removes leading as well as trailing whitespaces

In [1]:
"     Python     ".strip()

'Python'

In [3]:
adhar_name = "       Samantha Prabhu "
pan_name = "   SAMANTHA PRABHU          "
adhar_name = adhar_name.lower()
pan_name  = pan_name.lower()

adhar_name = adhar_name.strip()
pan_name = pan_name.strip()

if adhar_name == pan_name:
    print(f"Both names are same")
else:
    print(f"Both names are different")

Both names are same

In [4]:
" " == "   "

False

In [5]:
" " == " "

True

In [7]:
"Python  ".strip() == "Python"

True

In [8]:
li = [1,2,3]
li[1] = 10
li

[1, 10, 3]

## 8. swapcase
- It invert case of all char
- lower case = UPPER CASE
- UPPER CASE = lower case

In [9]:
str1 = "Machine Learning"
str1

'Machine Learning'

In [11]:
str1.swapcase()

'mACHINE lEARNING'

In [14]:
str2 = "mACHINE lEARNING"
str2.swapcase()

'Machine Learning'

In [15]:
A = "Python"
A.swapcase()

'pYTHON'

In [16]:
a = "pYTHON"
a.swapcase()

'Python'

## 9.replace()
- It is used to replace old_str by new_str
- syntax
    - string.replace(old_str,new_str,[count]
    - count is optional

In [3]:
str1 = "We are learning Python and Data Science"
str1.replace("Python","Machine Learning")

'We are learning Machine Learning and Data Science'

In [21]:
str1 = "We are learning Python and Data Science"
str1.replace("Data Science","Deep Learning")

'We are learning Python and Deep Learning'

In [22]:
str1 = "We are learning Python and Data Science"
str1.replace("and","&")

'We are learning Python & Data Science'

In [23]:
str1 = "Python Python Python Python"
str1.replace("ython","YTHON")

'PYTHON PYTHON PYTHON PYTHON'

In [25]:
input_str = input("enter your name ")

enter your name Mohit

In [27]:
a = """Data science is an interdisciplinary field that uses scientific methods, processes, 
algorithms and systems to extract knowledge"""
a.replace(" ","------")

'Data------science------is------an------interdisciplinary------field------that------uses------scientific------methods,------processes,------\nalgorithms------and------systems------to------extract------knowledge'

In [28]:
adhar_name = "           Samantha Prabhu      "
pan_name = "     SAMANTHA         PRABHU     "

print(f"Adhar Name = {adhar_name}")
print(f"Pan Name   = {pan_name}")
print(f"*"*50)

adhar_name = adhar_name.lower().strip().replace(" ","")
pan_name  = pan_name.lower().strip().replace(" ","")

print(f"Adhar Name = {adhar_name}")
print(f"Pan Name   = {pan_name}")
print(f"*"*50)

if adhar_name == pan_name:
    print("Both names are same")
else:
    print("Both names are not same")

Adhar Name =            Samantha Prabhu
Pan Name   =      SAMANTHA         PRABHU
**************************************************
Adhar Name = samanthaprabhu
Pan Name   = samanthaprabhu
**************************************************
Both names are same

In [31]:
a = "ppppppppppppppppp"
a.replace("p","Q",5)

'QQQQQpppppppppppp'

In [32]:
b = "Python Python Python Python"
b.replace("Python","Java",2)

'Java Java Python Python'

## Remove vowels

In [33]:
str1 = "Python and Data science. We are learning Python. Python is very easy language"
str1.replace("a","*").replace("e","*").replace("i","*").replace("o","*").replace("u","*")

'Pyth*n *nd D*t* sc**nc*. W* *r* l**rn*ng Pyth*n. Pyth*n *s v*ry **sy l*ng**g*'

In [36]:
str1.count("P")

3

In [4]:
str1 = "Python and data science, we are learning Python, Python is easy language".lower()
vowels = "aeiou"
new = ""
for char in str1:
    if char not in vowels:
        new += char
new

'pythn nd dt scnc, w r lrnng pythn, pythn s sy lngg'