# Operator
## 1.Comparison operator
- val1 == val2
- val1 != val2
- val1 > val2
- val1 < val2
- val1 >= val2
- val1 <= val2

In [1]:
val1 = 5
val2 = 5
val1 == val2

True

In [2]:
val1 = 5.5
val2 = 5
val1 == val2

False

In [3]:
val1 = 5.5
val2 = 5
val1 != val2

True

In [4]:
val1 = 5
val2 = 5
val1 != val2

False

In [8]:
a = "Python"
b = "Python"
a == b

True

In [10]:
a = "Python"
b = "Python".upper()
a == b

False

In [11]:
a = "Python"
b = "Python".upper()
a != b

True

In [13]:
val1 = 100
val2 = 100
if val1 == val2:
    print(f"The {val1} is equal to {val2}")

The 100 is equal to 100

In [1]:
val1 = 1001
val2 = 100
if val1 == val2:
    print(f"The {val1} is equal to {val2}")

In [16]:
val1 = 1001
val2 = 100
if val1 == val2:
    print(f"The {val1} is equal to {val2}")
else:
    print(f"The {val1} is not equal to {val2}")

The 1001 is not equal to 100

In [21]:
val1 = 1001
val2 = 100
if val1 > val2:
    print(f"The {val1} is Greater than {val2}")
else:
    print(f"The {val1} is Less than {val2}")

The 1001 is Greater than 100

In [20]:
val1 = 10
val2 = 100
if val1 > val2:
    print(f"The {val1} is Greater than {val2}")
else:
    print(f"The {val1} is Less than {val2}")

The 10 is Less than 100

In [22]:
val1 = 1000
val2 = 100
if val1 == val2:
    print(f"{val1} is equal to {val2}")
elif val1 >= val2:
    print(f"{val1} is Greater than equal to {val2}")
elif val1 <= val2:
    print(f"{val1} is Less than equal to {val2}")

1000 is Greater than equal to 100

In [25]:
val1 = 100
val2 = 1000
if val1 == val2:
    print(f"{val1} is equal to {val2}")
elif val1 >= val2:
    print(f"{val1} is Greater than equal to {val2}")
elif val1 <= val2:
    print(f"{val1} is Less than equal to {val2}")

100 is Less than equal to 1000

In [1]:
val1 = 100
val2 = 100
if val1 >= val2:
    print(f"{val1} is Greater than equal to {val2}")
elif val1 < val2:
    print(f"{val1} is Less than {val2}")

100 is Greater than equal to 100

In [2]:
val1 = 1001
val2 = 100
if val1 >= val2:
    print(f"{val1} is Greater than equal to {val2}")
elif val1 < val2:
    print(f"{val1} is Less than {val2}")

1001 is Greater than equal to 100

In [3]:
val1 = 10
val2 = 100
if val1 >= val2:
    print(f"{val1} is Greater than equal to {val2}")
elif val1 < val2:
    print(f"{val1} is Less than {val2}")

10 is Less than 100

## 2. Logical operator
- 1.and operator
- 2.or operator
- 1 = True
- 0 = False

In [12]:
0 and 0 = 0  # False and False = False
0 and 1 = 0  # False and True = False
1 and 0 = 0  # Frue and False = False
1 and 1 = 1  # True and True = True

1

In [19]:
0 or 0 = 0  # False or False = False
0 or 1 = 1  # False or True = True
1 or 0 = 1  # True or False = True
1 or 1 = 1  # True or True = True

1

In [20]:
val1 = 50
val2 = 100
val1 > val2

False

In [21]:
val1 = 50
val2 = 100
val1 > val2 and val1 == val2 #False and False = False

False

In [24]:
val1 = 50
val2 = 100
val1 > val2 or val1 < val2 # False or True = True

True

In [25]:
val1 = 5
val2 = 6
val3 = 10
val4 = 20
val1 < val2 and val2 < val3 and val3 < val4 and val1 <val4  #True and True and True and True = True

True

In [26]:
val1 = 50
val2 = 6
val3 = 10
val4 = 20
val5 = 20
val5 == val4 and val1 < val2 and val1 < val3 and val1 < val4  and val2 > val1 # true and False and false and false and false

False

In [27]:
val1 = 30
val2 = 20
val3 = 10
if val1 > val2 and val1 > val3:
    print(f"{val1} is Gretaer than {val2} and {val3}")

30 is Gretaer than 20 and 10

In [37]:
val1 = 30
val2 = 20
val3 = 10 
if val1 > val2 or val1 > val3:     #True or True = True
    print(f"{val1} is Gretaer than {val2} and {val3}")

30 is Gretaer than 20 and 10

In [36]:
val1 = 30
val2 = 20
val3 = 10 
if val1 < val2 and val1 > val3:     #False and True = False
    print(f"{val1} is Greater than {val2} and {val3}")
elif val1 > val2 and val1 > val3:   #True and true =True
    print(f"{val1} is Greater than {val2} and {val3}")

30 is Greater than 20 and 10

In [38]:
val1 = 50
val2 = 300
val3 = 1000
if val1 > val2 and val1 > val3: # False and False
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3: #True and False
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

1000 is greater than 50 and 300

In [40]:
a =input("value for a:-")
a

value for a:-500

'500'

In [43]:
a =input("value for a:-")
b = int(a)
b

value for a:-20

20

In [42]:
type(b)

int

In [46]:
a = int(input("Value for a :-"))
type (a)

Value for a :-500

int

In [48]:
val1 = input("Enter the value of val1 = ")
val2 = input("Enter the value of val2 = ")
val3 = input("Enter the value of val3 = ")

val1 = int(val1)
val2 = int(val2)
val3 = int(val3)

if val1 > val2 and val1 > val3:
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

Enter the value of val1 = 1000
Enter the value of val2 = 200
Enter the value of val3 = 100
1000 is greater than 200 and 100

In [49]:
val1 = input("Enter the value of val1 = ")
val2 = input("Enter the value of val2 = ")
val3 = input("Enter the value of val3 = ")

val1 = int(val1)
val2 = int(val2)
val3 = int(val3)

if val1 > val2 and val1 > val3:
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

Enter the value of val1 = 100
Enter the value of val2 = 200
Enter the value of val3 = 300
300 is greater than 100 and 200

In [52]:
val1 = input("Enter the value of val1 = ")
val2 = input("Enter the value of val2 = ")
val3 = input("Enter the value of val3 = ")

val1 = int(val1)
val2 = int(val2)
val3 = int(val3)
print("*"*50)

print(f"Value 1 = {val1}")
print(f"Value 2 = {val2}")
print(f"Value 3 = {val3}")

if val1 > val2 and val1 > val3:
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

Enter the value of val1 = 50
Enter the value of val2 = 60
Enter the value of val3 = 70
**************************************************
Value 1 = 50
Value 2 = 60
Value 3 = 70
70 is greater than 50 and 60

In [53]:
(1 and 1) and 0

0

In [54]:
(1 and 1) or 0

1

In [55]:
1 and 0 or 1

1

In [56]:
val1 = 20
val2 = 50
val3 = 10

print("-"*50)
print(f"Value 1 = {val1}")
print(f"Value 2 = {val2}")
print(f"Value 3 = {val3}")
print("-"*50)

if val1 > val2 and (val1 > val3 or val1 == 20):
    print(f"{val1} is greater than {val2} and {val3}")
elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
else:
    print(f"{val3} is greater than {val1} and {val2}")

--------------------------------------------------
Value 1 = 20
Value 2 = 50
Value 3 = 10
--------------------------------------------------
50 is greater than 20 and 10

## 3. Arithmetic operator

- + -> Addition operator
- - -> Subtraction operator
- * -> Multiplicatio operator
- / -> Division oprator
- // -> Floor Division opeartor
- % -> Modulus operator
- ** -> Exponent operator

Preference of Arithmetic operator
- () --> Paranthesis
- ** --> Exponent
- *,//,/,+,-

In [57]:
5 / 2

2.5

In [58]:
5 // 2

2

In [59]:
5 * 2

10

In [1]:
27 % 5

2

In [2]:
25 % 5

0

In [3]:
10%2  #Even

0

In [4]:
9%2  #Odd

1

In [5]:
11 % 2 == 0

False

In [6]:
50 % 5 == 0

True

In [9]:
num = int(input("Enter the number --->  "))
if num % 2 == 0:
    print(f"The number is even = {num}")
else:
    print(f"The Number is odd = {num}")

Enter the number --->  50
The number is even = 50

In [1]:
num = int(input("Enter the number --->  "))
print(f"The number is even = {num}") if num % 2 == 0 else print(f"The Number is odd = {num}")

Enter the number --->  12
The number is even = 12

In [12]:
5*5*5

125

In [13]:
2*2*2

8

In [14]:
5**3

125

In [15]:
2**3

8

In [16]:
10*10*10*10*10

100000

In [18]:
10**5

100000

x = 4
y = 5x^3 + 3x^2 - 8x +7

In [22]:
x = 4
y = 5*(x**3) + 3*(x**2) - 8*(x)+7
print(f"y is {y} for value of x = {x}")

y is 343 for value of x = 4

In [23]:
x = int(input("Enter the number --->"))
y = 5*(x**3) + 3*(x**2) - 8*(x)+7
print(f"y is {y} for value of x = {x}")

Enter the number --->7
y is 1813 for value of x = 7

In [29]:
for x in range(10):
   
    y = 5*(x**3) + 3*(x**2) - 8*(x)+7
    print(f"y = {y}      for      x = {x}")

y = 7      for      x = 0
y = 7      for      x = 1
y = 43      for      x = 2
y = 145      for      x = 3
y = 343      for      x = 4
y = 667      for      x = 5
y = 1147      for      x = 6
y = 1813      for      x = 7
y = 2695      for      x = 8
y = 3823      for      x = 9

In [30]:
10 * 6/4

15.0

In [32]:
10/6*4

6.666666666666667

In [33]:
(10/6)*4

6.666666666666667

In [35]:
10/(6*4)

0.4166666666666667

In [36]:
10*6*4

240

In [37]:
10*(6*4)

240

## 4.Assignment operator

=       a=b 
a = 5
+=     a += 1  >>  a =  a+1  = 6
-=     a -= 1  >>  a =  a-1  = 4
*=     a *= 1  >>  a =  a*2  = 10
**=    a **= 1 >>  a = a**2  = 25
/=     a /= 1  >>  a  = a/2  = 2.5
//=    a //= 1 >>  a = a//2  = 2
%=     a %= 2  >>  a = a % 2 = 1

In [1]:
a = 50
print(f"a = {a}")
a = a + 5
print(f"a = {a}")

a = 50
a = 55

In [2]:
a = 0
print(f"a = {a}")
a = a + 1
print(f"a = {a}")

a = 0
a = 1

In [4]:
a = 50
print(f"a = {a}")
a += 5
print(f"a = {a}")

a = 50
a = 55

In [43]:
count = 0
str1 ="Machine learning"
for i in str1:
    count+=1
    print(f"{i} {count}")

M 1
a 2
c 3
h 4
i 5
n 6
e 7
  8
l 9
e 10
a 11
r 12
n 13
i 14
n 15
g 16

In [53]:
count = 15
for i in "Python and data science":
    if count > 0:
        print(count)
        count-=1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [56]:
count = 15
for i in "Python and Data Science":
    if count > 0:
        print(count,i)
        count-=2

15 P
13 y
11 t
9 h
7 o
5 n
3
1 a

In [59]:
count = 15
for i in "Python and Data Science":
    if count > 0:
        print(count,i)
        count+=-3

15 P
12 y
9 t
6 h
3 o