# Nested if-else
- if statement inside if

In [1]:
str1 = "Python"
if str1.istitle():
    print(f"Title case")
else:
    print(f"Not a Title case")

Title case

In [2]:
str1 = "python"
if str1.istitle():
    print(f"Title case")
else:
    print(f"Not a Title case")

Not a Title case

In [3]:
str1 = "PYthon"
if len(str1) > 5:
    print(f"Length is Greater than 5")
    
    if str1.istitle():
        print(f"Title case")
    else:
        print(f"Not a Title case")
else:
    print(f"Length is less than 5")

Length is Greater than 5
Not a Title case

In [4]:
str1 = "Python"
if len(str1) > 5:
    print(f"Length is Greater than 5")
    
    if str1.istitle():
        print(f"Title case")
    else:
        print(f"Not a Title case")
else:
    print(f"Length is less than 5")

Length is Greater than 5
Title case

In [7]:
str1 = "PYth"
if len(str1) > 5:
    print(f"Length is Greater than 5")
    
    if str1.startswith("P"):
        print(f"Starts with P")
    else:
        print(f"Starts with P")
else:
    print(f"Length is less than 5")

Length is less than 5

In [9]:
str1 = "Python"
if len(str1) > 5:
    print(f"Length is Greater than 5")
    
    if str1.startswith("P"):
        print(f"Starts with P")
        
        if str1.istitle():
            print(f"Title case")
        
        else:
            print(f"Not starts with P")
    else:
        print(f"Not a Title case")
else:
    print(f"Length is less than 5")

Length is Greater than 5
Starts with P
Title case

In [12]:
str1 = "PyThon"
if len(str1) > 5:
    print(f"Length is Greater than 5")
    
    if str1.startswith("P"):
        print(f"Starts with P")
        
        if str1.istitle():
            print(f"Title case")
        
        else:
            print(f"Not starts with P")
    else:
        print(f"Not a Title case")
else:
    print(f"Length is less than 5")

Length is Greater than 5
Starts with P
Not starts with P

In [13]:
str1 = "CyThon"
if len(str1) > 5:
    print(f"Length is Greater than 5")
    
    if str1.startswith("P"):
        print(f"Starts with P")
        
        if str1.istitle():
            print(f"Title case")
        
        else:
            print(f"Not starts with P")
    else:
        print(f"Not a Title case")
else:
    print(f"Length is less than 5")

Length is Greater than 5
Not a Title case

In [16]:
num = 130
if num > 100 :
    print("Num is Greater than 100")
    
    if num > 150:
        print("Num is greater than 150")
    else:
        if num > 120:
            print("Num is Greater than 120")
        
        else:
            print("Num is less than 120")
else:
    print("Num is less than 100")

Num is Greater than 100
Num is Greater than 120

In [17]:
num = 115
if num > 100 :
    print("Num is Greater than 100")
    
    if num > 150:
        print("Num is greater than 150")
    else:
        if num > 120:
            print("Num is Greater than 120")
        
        else:
            print("Num is less than 120")
else:
    print("Num is less than 100")

Num is Greater than 100
Num is less than 120

In [21]:
cibil_score = 800
age = 35
salary = 75000
if cibil_score > 750:
    print("Cibil score is Greater than 750")
    if age >24 and age < 60:
        print("Age in range")
        if salary > 45000:
            print("Salary is Greater than 45000")
            print("*"*25)
            print("Loan Approved")
            print("*"*25)

Cibil score is Greater than 750
Age in range
Salary is Greater than 45000
*************************
Loan Approved
*************************

In [2]:
cibil_score = 500
age = 23
salary = 85000
if cibil_score > 750:
    print("Cibil score is Greater than 750")
    if age >24 and age < 60:
        print("Age in range")
        if salary > 45000:
            print("Salary is Greater than 45000")
            print("*"*25)
            print("Loan Approved")
            print("*"*25)
        else:
            print("Declined by Salary")
    else:
        print("Declined by age")
else:
    print("Declined by cibil score")

Declined by cibil score

In [3]:
cibil_score = 900
age = 23
salary = 85000
if cibil_score > 750:
    print("Cibil score is Greater than 750")
    if age >24 and age < 60:
        print("Age in range")
        if salary > 45000:
            print("Salary is Greater than 45000")
            print("*"*25)
            print("Loan Approved")
            print("*"*25)
        else:
            print("Declined by Salary")
    else:
        print("Declined by age")
else:
    print("Declined by cibil score")

Cibil score is Greater than 750
Declined by age

In [5]:
cibil_score = 900
age = 28
salary = 85000
if cibil_score > 750:
    print("Cibil score is Greater than 750")
    if age >24 and age < 60:
        print("Age in range")
        if salary > 45000:
            print("Salary is Greater than 45000")
            print("*"*25)
            print("Loan Approved")
            print("*"*25)
        else:
            print("Declined by Salary")
    else:
        print("Declined by age")
else:
    print("Declined by cibil score")

Cibil score is Greater than 750
Age in range
Salary is Greater than 45000
*************************
Loan Approved
*************************

# Short hand if

In [8]:
num1 = 100
num2 = 50
if num1 > num2:
    print(f"{num1} is Greater than {num2}")

100 is Greater than 50

In [10]:
if num1 > num2: print(f"{num1} is Greater than {num2}")

100 is Greater than 50

In [13]:
for i in [7,3,55,2,4,88,9,78,54,2,4,76,98]:
    if i > 5: print(i)

7
55
88
9
78
54
76
98

# Short hand if-else

In [15]:
num1 = 100
num2 = 500
if num1 > num2:
    print(f"{num1} is Greater than {num2}")
else:
    print(f"{num2} is Greater than {num1}")

500 is Greater than 100

In [20]:
print(f"{num1} is Greater than {num2}") if num1 > num2 else print(f"{num2} is Greater than {num1}")

500 is Greater than 100

In [22]:
num1 = 100
num2 = 50
print(f"{num1} is Greater than {num2}") if num1 > num2 else print(f"{num2} is Greater than {num1}")

100 is Greater than 50

In [24]:
for i in [1,56,7,8,9,4,5,23,15]:
    print(i) if i > 5 else print("Num is small")

Num is small
56
7
8
9
Num is small
Num is small
23
15

In [27]:
[i if i > 5 else "Num is small" for i in [1,7,3,8,4,9]]

['Num is small', 7, 'Num is small', 8, 'Num is small', 9]

In [29]:
[i if i > 5 for i in [1,7,3,8,4,9]]

SyntaxError: invalid syntax (Temp/ipykernel_21812/831370425.py, line 1)

In [30]:
[i for i in [1,7,3,8,4,9] if i > 5]

[7, 8, 9]