# List
- 1.Mutable (values can be changed/changable)------>add,delete,update
- 2.Allow duplicate items
- 3.Ordered data type
- 4.Enclosed by []
- 5.Variable length
- 6.More memory required
- 7.More Functional
- 8.Collecion of any data types
- 9.List is slower than tuple

# Tuple
- 1.Immutable(values cannot be changable)
- 2.Allows duplicate items
- 3.Ordered data type
- 4.Enclosed by ()
- 5.Fixed length
- 6.Requires less memory
- 7.Less functional
- 8.Collection of any Data types
- 9.Tuple is faster than List

## How to create Tuple

In [1]:
tup1 = 1,2,3,4,5
print(tup1,type(tup1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [2]:
tup1 = 1
print(tup1,type(tup1))

1 <class 'int'>

In [3]:
tup1 = 1,
print(tup1,type(tup1))

(1,) <class 'tuple'>

In [5]:
tup1 = ("Python",)
print(tup1,type(tup1))

('Python',) <class 'tuple'>

In [6]:
tup1 = (1,2,3,4,5)
print(tup1,type(tup1))

(1, 2, 3, 4, 5) <class 'tuple'>

1. Enclosing all elements by ()        -----> tup1 = (1,2,3,4,5)
2. By one element with comma           -----> tup1 =1, , tup1 = (1,)
3. All elements with comma without ()  -----> tup1 =1,2,3,4,5

## indexing and slicing

In [7]:
tup1 = (1,2,3,4,5)
tup1

(1, 2, 3, 4, 5)

In [10]:
print(tup1 [0])
print(tup1 [1])
print(tup1 [2])
print(tup1 [3])
print(tup1 [4])

1
2
3
4
5

In [11]:
print(tup1 [-1])
print(tup1 [-2])
print(tup1 [-3])
print(tup1 [-4])
print(tup1 [-5])

5
4
3
2
1

In [12]:
tup1 [:]

(1, 2, 3, 4, 5)

In [13]:
tup1[1:3]

(2, 3)

In [14]:
tup1[1:3:-1]

()

In [15]:
tup1[1:5:2]

(2, 4)

In [16]:
tup1[::-1]

(5, 4, 3, 2, 1)

In [17]:
tup1[-1:-5:-1]

(5, 4, 3, 2)

## Delete items

In [18]:
tup1

(1, 2, 3, 4, 5)

In [20]:
tup1 = (1,2,3,4,5)
del tup1 [1]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
li = [1,2,3,4,5]
del li[1]
li

[1, 3, 4, 5]

In [23]:
del tup1
tup1

NameError: name 'tup1' is not defined

In [25]:
tup1 = (11,22,33,44,55)
tu_li = list(tup1)
del tu_li[0]
print(tu_li)
tup2 = tuple(tu_li)
print(tup2)

[22, 33, 44, 55]
(22, 33, 44, 55)

In [26]:
tup1

(11, 22, 33, 44, 55)

In [27]:
tup2

(22, 33, 44, 55)

## Tuple operations

In [28]:
tup1 = (1,2,3)
tup2 = 4,5,6
tup1 + tup2

(1, 2, 3, 4, 5, 6)

In [30]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python"
tup1 + tup2

(1, 2, 3, 4, 5, 6, 'Python')

In [31]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python"
tup2 + tup1

(4, 5, 6, 'Python', 1, 2, 3)

In [32]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python"
tup2 + tup2 + tup2

(4, 5, 6, 'Python', 4, 5, 6, 'Python', 4, 5, 6, 'Python')

In [33]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python"
tup2 * 3

(4, 5, 6, 'Python', 4, 5, 6, 'Python', 4, 5, 6, 'Python')

In [35]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python",[1,2]
print(tup2 * 3)

(4, 5, 6, 'Python', [1, 2], 4, 5, 6, 'Python', [1, 2], 4, 5, 6, 'Python', [1, 2])

In [36]:
"Hi" + "Bye"

'HiBye'

In [37]:
"Hi" * 3

'HiHiHi'

## Access items using for loop

In [38]:
tup1 = ("Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
tup1

('Pune', 'Mumbai', 'Chennai', 'Gujrat', 'Maharashtra', 'Delhi')

In [39]:
for item in tup1:
    print("We are learning tuple")

We are learning tuple
We are learning tuple
We are learning tuple
We are learning tuple
We are learning tuple
We are learning tuple

In [40]:
for item in tup1:
    print(f"Item = {item}")

Item = Pune
Item = Mumbai
Item = Chennai
Item = Gujrat
Item = Maharashtra
Item = Delhi

In [41]:
index = 0
for item in tup1:
    print(f"Index = {index}, Item = {item}")
    index +=1

Index = 0, Item = Pune
Index = 1, Item = Mumbai
Index = 2, Item = Chennai
Index = 3, Item = Gujrat
Index = 4, Item = Maharashtra
Index = 5, Item = Delhi

In [42]:
for index,item in enumerate(tup1):
    print(f"Index = {index} and Item = {item}")

Index = 0 and Item = Pune
Index = 1 and Item = Mumbai
Index = 2 and Item = Chennai
Index = 3 and Item = Gujrat
Index = 4 and Item = Maharashtra
Index = 5 and Item = Delhi

In [43]:
tup1

('Pune', 'Mumbai', 'Chennai', 'Gujrat', 'Maharashtra', 'Delhi')

In [46]:
"Pune" in tup1

True

In [47]:
"pune" in tup1

False

In [48]:
if "Pune" in tup1:
    print("Pune is present")
else:
    print("Pune is not present")

Pune is present

In [49]:
if "pune" in tup1:
    print("Pune is present")
else:
    print("Pune is not present")

Pune is not present

## Functions of tuple
- count
- index

In [50]:
tup1 =("Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
tup1.count("Pune")

1

In [51]:
tup1 = ("Pune","Pune","Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
tup1.count("Pune")

3

In [52]:
tup1 = ("Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
tup1.count("pune")

0

### index()

In [53]:
tup1 = ("Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
tup1.index("Pune")

0

In [55]:
tup1 = ("Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
tup1.index("Maharashtra")

4

In [56]:
tup1 = ("Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
tup1.index("Hyderabad")

ValueError: tuple.index(x): x not in tuple

In [57]:
tup1 = ("Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
city_name = "Mumbai"
if city_name in tup1:
    print(f"{city_name} is present and its index = {tup1.index(city_name)}")
else:
    print(f"{city_name} is not present in given tuple")

Mumbai is present and its index = 1

In [58]:
tup1 = ("Pune","Mumbai","Chennai","Gujrat","Maharashtra","Delhi")
city_name = "Bombay"
if city_name in tup1:
    print(f"{city_name} is present and its index = {tup1.index(city_name)}")
else:
    print(f"{city_name} is not present in given tuple")

Bombay is not present in given tuple

In [59]:
for a,b in enumerate(["1","2"]):
    print(f"{a} --> {b}")

0 --> 1
1 --> 2

## Tuple constructor

In [60]:
num_tup = (1,2,3,4,5)
type(num_tup)

tuple

In [62]:
li = [1,2,3,4,5]
print(li,type(li))
tup1 = tuple(li)
print(tup1,type(tup1))

[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 3, 4, 5) <class 'tuple'>

In [63]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [64]:
tuple("Hello")

('H', 'e', 'l', 'l', 'o')

In [66]:
tuple({1,7,6,3,5,7})

(1, 3, 5, 6, 7)

In [67]:
number = (1,2,3,4,5)
print(number)
li1 = list(number)
li1 [0] = "Python"
number =tuple(li1)
number

(1, 2, 3, 4, 5)

('Python', 2, 3, 4, 5)

In [68]:
number = (1,2,3,4,5)
print(number)
li1 = list(number)
li1.extend(li1)
number = tuple(li1)
number

(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [71]:
number = (1,2,3,4,5)
print(number)
li1 = list(number)
li1.append(["Python","ML","DL"])
number = tuple(li1)
print(number)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, ['Python', 'ML', 'DL'])

## Copy

In [72]:
tup1 = (3,4,5,6)
tup2 = tup1
print(tup1,id(tup1))
print(tup2,id(tup2))

(3, 4, 5, 6) 2917865958912
(3, 4, 5, 6) 2917865958912

In [73]:
tup1 = (3,4,5,6)
tup2 = tup1
print(tup1)
print(tup2)

li1 = list(tup2)
li1.append("Python")

tup3 = tuple(li1)

print(tup1)
print(tup2)
print(tup3)

(3, 4, 5, 6)
(3, 4, 5, 6)
(3, 4, 5, 6)
(3, 4, 5, 6)
(3, 4, 5, 6, 'Python')

In [2]:
tup1 = (4,5,["Python","DS","ML"])
len(tup1)

3

In [3]:
tup1[2][2]

'ML'

In [4]:
tup1[2][1] = tup1[2][1].lower()

tup1

(4, 5, ['Python', 'ds', 'ML'])

## Deep copy

In [5]:
import copy

In [7]:
tup1 =(4,5,["Python","DS","ML"])
tup2 = tup1

tup1[2][0] = tup1[2][0].upper()

print(tup1)
print(tup2)

(4, 5, ['PYTHON', 'DS', 'ML'])
(4, 5, ['PYTHON', 'DS', 'ML'])

In [8]:
tup1 =(4,5,["Python","DS","ML"])
tup2 = copy.deepcopy(tup1)

tup1[2][0] = tup1[2][0].upper()

print(tup1)
print(tup2)

(4, 5, ['PYTHON', 'DS', 'ML'])
(4, 5, ['Python', 'DS', 'ML'])

In [9]:
domains = ['PYTHON','DS','ML','NLP','DL']
new_li = [i.lower() for i in domains]
new_li

['python', 'ds', 'ml', 'nlp', 'dl']

In [12]:
domains = ['PYTHON','DS','ML','NLP','DL']
new_tu = (i.lower() for i in domains)
new_tu

In [13]:
domains = ['PYTHON','DS','ML','NLP','DL']
new_tu = list(i.lower() for i in domains)
new_tu

['python', 'ds', 'ml', 'nlp', 'dl']

In [14]:
domains = ['PYTHON','DS','ML','NLP','DL']
new_tu = tuple(i.lower() for i in domains)
new_tu

('python', 'ds', 'ml', 'nlp', 'dl')

In [15]:
list(reversed([4,6,3]))

[3, 6, 4]

In [16]:
tuple(reversed((4,6,3)))

(3, 6, 4)

In [17]:
[i for i in range(1,11) if i%2 == 0]

[2, 4, 6, 8, 10]

In [18]:
tuple(i for i in range(1,11) if i%2 == 0)

(2, 4, 6, 8, 10)

In [19]:
tuple(i + 500 for i in range(1,11) if i %2 ==0)

(502, 504, 506, 508, 510)