# Nested For loop
- for loop inside a for loop

for variable_name1 in sequence1:
    statement 1
    statement 2
    statement 3
         .
         .
    statement n
    
    for variable_name2 in sequence2:
        statement 1
        statement 2
        statement 3
             .
             .
        statement n
     
     for variable_name in sequence:
        statement 1
        statement 2
        statement 3
             .
             .
        statement n

In [1]:
for i in range(5):
    print("i----->",i)

i-----> 0
i-----> 1
i-----> 2
i-----> 3
i-----> 4

In [1]:
for i in range(5):
    print("i---->",i)
    for j in range(5):
        print("DS")

i----> 0
DS
DS
DS
DS
DS
i----> 1
DS
DS
DS
DS
DS
i----> 2
DS
DS
DS
DS
DS
i----> 3
DS
DS
DS
DS
DS
i----> 4
DS
DS
DS
DS
DS

In [8]:
for i in range(5):
    print("Outer statement i--->",i)
    print()
    for j in range(5):
        print("Inner statement j--->",j)
    print()
    print()

Outer statement i---> 0

Inner statement j---> 0
Inner statement j---> 1
Inner statement j---> 2
Inner statement j---> 3
Inner statement j---> 4


Outer statement i---> 1

Inner statement j---> 0
Inner statement j---> 1
Inner statement j---> 2
Inner statement j---> 3
Inner statement j---> 4


Outer statement i---> 2

Inner statement j---> 0
Inner statement j---> 1
Inner statement j---> 2
Inner statement j---> 3
Inner statement j---> 4


Outer statement i---> 3

Inner statement j---> 0
Inner statement j---> 1
Inner statement j---> 2
Inner statement j---> 3
Inner statement j---> 4


Outer statement i---> 4

Inner statement j---> 0
Inner statement j---> 1
Inner statement j---> 2
Inner statement j---> 3
Inner statement j---> 4

In [9]:
for i in range(2):
    print("Outer statement i--->",i)
    print()
    for j in range(5):
        print("Inner statement j--->",j)
    print()
    print()

Outer statement i---> 0

Inner statement j---> 0
Inner statement j---> 1
Inner statement j---> 2
Inner statement j---> 3
Inner statement j---> 4


Outer statement i---> 1

Inner statement j---> 0
Inner statement j---> 1
Inner statement j---> 2
Inner statement j---> 3
Inner statement j---> 4

In [10]:
for i in range(5):
    print("Outer statement i--->",i)
    print()
    for j in range(2):
        print("Inner statement j--->",j)
    print()
    print()

Outer statement i---> 0

Inner statement j---> 0
Inner statement j---> 1


Outer statement i---> 1

Inner statement j---> 0
Inner statement j---> 1


Outer statement i---> 2

Inner statement j---> 0
Inner statement j---> 1


Outer statement i---> 3

Inner statement j---> 0
Inner statement j---> 1


Outer statement i---> 4

Inner statement j---> 0
Inner statement j---> 1

In [15]:
for i in range(5):
    print("Outer statement i--->",i)
    print()
    for j in range(2):
        print("Inner statement 1 = j--->",j)
    print()
    
    for k in range(2):
        print("Inner statement 2 = k--->",k)
    print()
    print()

Outer statement i---> 0

Inner statement 1 = j---> 0
Inner statement 1 = j---> 1

Inner statement 2 = k---> 0
Inner statement 2 = k---> 1


Outer statement i---> 1

Inner statement 1 = j---> 0
Inner statement 1 = j---> 1

Inner statement 2 = k---> 0
Inner statement 2 = k---> 1


Outer statement i---> 2

Inner statement 1 = j---> 0
Inner statement 1 = j---> 1

Inner statement 2 = k---> 0
Inner statement 2 = k---> 1


Outer statement i---> 3

Inner statement 1 = j---> 0
Inner statement 1 = j---> 1

Inner statement 2 = k---> 0
Inner statement 2 = k---> 1


Outer statement i---> 4

Inner statement 1 = j---> 0
Inner statement 1 = j---> 1

Inner statement 2 = k---> 0
Inner statement 2 = k---> 1

In [19]:
for i in range(5):
    print("Outer statement i--->",i)
    print()
    for j in range(2):
        print("Inner statement 1 = j--->",j)
        for k in range(2):
            print("Inner-Inner statement 2 = k--->",k)
    print()

Outer statement i---> 0

Inner statement 1 = j---> 0
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1
Inner statement 1 = j---> 1
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1

Outer statement i---> 1

Inner statement 1 = j---> 0
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1
Inner statement 1 = j---> 1
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1

Outer statement i---> 2

Inner statement 1 = j---> 0
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1
Inner statement 1 = j---> 1
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1

Outer statement i---> 3

Inner statement 1 = j---> 0
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1
Inner statement 1 = j---> 1
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1

Outer statement i---> 4

Inner statement 1 = j---> 0
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1
Inner statement 1 = j---> 1
Inner-Inner statement 2 = k---> 0
Inner-Inner statement 2 = k---> 1

In [23]:
for i in range(5):
    for j in [10,20,30,40,50]:
        print(j)
    print()

10
20
30
40
50

10
20
30
40
50

10
20
30
40
50

10
20
30
40
50

10
20
30
40
50

In [27]:
str1 ="Python"
for i in range(5):
    for j in str1:
        print(j,end =' ')
    print()

P y t h o n
P y t h o n
P y t h o n
P y t h o n
P y t h o n

In [32]:
for i in range(5):
    print("i---> 1")
    for j in range(5):
        print("*")

i---> 1
*
*
*
*
*
i---> 1
*
*
*
*
*
i---> 1
*
*
*
*
*
i---> 1
*
*
*
*
*
i---> 1
*
*
*
*
*

**********
**********
**********
**********
**********

In [34]:
print('**********')
print('**********')
print('**********')
print('**********')
print('**********')

**********
**********
**********
**********
**********

In [35]:
for i in range(5):
    print('**********')

**********
**********
**********
**********
**********

In [37]:
for j in range(5):
    print("j----->",j)
    for i in range(5):
        print("**********")

j-----> 0
**********
**********
**********
**********
**********
j-----> 1
**********
**********
**********
**********
**********
j-----> 2
**********
**********
**********
**********
**********
j-----> 3
**********
**********
**********
**********
**********
j-----> 4
**********
**********
**********
**********
**********

In [39]:
for i in range(5):
    for j in range(5):
        print('*')
    print()

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

In [41]:
for i in range(5):
    for j in range(5):
        print('*',end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [44]:
for i in range(3):
    for j in range(3):
        print("*",end = " ")
    print()

* * *
* * *
* * *

In [45]:
for i in range(3):
    for j in range(5):
        print("*",end= " ")
    print()

* * * * *
* * * * *
* * * * *

In [46]:
for i in range(5):
    for j in range(3):
        print("*",end= " ")
    print()

* * *
* * *
* * *
* * *
* * *

In [51]:
for i in range(5):
    for j in range(i):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *

In [53]:
for i in range(1,6):
    for j in range(i):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [55]:
for i in range(1,10):
    for j in range(i):
        print(" ",end = "*")
    print()

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *

In [56]:
for i in range(6,0,-1):
    for j in range(i):
        print("*",end = " ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [61]:
for i in range(5):
    for j in range(5):
        print("1",end = " ")
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [62]:
num = 1
for i in range(5):
    for j in range(5):
        print(num,end = " ")
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [63]:
num = 5
for i in range(5):
    for j in range(5):
        print(num,end = " ")
    print()

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [3]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end =' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [71]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end =' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [73]:
for i in range(6):
    for j in range(6):
        print(j,end =' ')
    print()

0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5

In [74]:
for i in range(6):
    for j in range(6):
        print(i,end =' ')
    print()

0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
for i in range(1,6):
    for j in range(i):
        print(i,end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [82]:
for i in range(1,6):
    for j in range(1,6):
        print("A",end = " ")
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [83]:
chr(65)

'A'

In [84]:
chr(97)

'a'

In [88]:
chr(90)

'Z'

In [90]:
chr(122)

'z'

In [91]:
for i in range(1,6):
    for j in range(1,6):
        print(chr(65),end = " ")
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [92]:
num = 65
for i in range(1,6):
    for j in range(1,6):
        print(chr(num),end = " ")
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [94]:
num = 65
for i in range(1,6):
    for j in range(1,6):
        print(chr(num),end = " ")
    num+=1
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [95]:
num = 65
for i in range(1,6):
    for j in range(1,6):
        print(chr(num),end = " ")
        num+=1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [101]:
num = 65
for i in range(1,6):
    num = 65
    for j in range(1,6):
        print(chr(num),end = " ")
        num+=1 
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

A 
A B 
A B C 
A B C D 
A B C D E

In [104]:
for i in range(1,6):
    num = 65
    for j in range(i):
        print(chr(num),end = " ")
        num+=1
    print()

A
A B
A B C
A B C D
A B C D E

In [105]:
for i in range(1,6):
    num = 97
    for j in range(i):
        print(chr(num),end=" ")
        num+=1
    print()

a
a b
a b c
a b c d
a b c d e

In [108]:
num = 97
for i in range(1,6):
    for j in range(i):
        print(chr(num),end=" ")
    num+=1
    print()

a
b b
c c c
d d d d
e e e e e

In [111]:
num = 97
for i in range(1,6):
    for j in range(i):
        print(chr(num),end=" ")
        num+=1
    print()

a
b c
d e f
g h i j
k l m n o

*
* *
* * *
* * * * 
* * * * *

In [114]:
for i in range(1,6):
    for j in range(i):
        print('*',end = "")
    print()

*
**
***
****
*****

In [3]:
n = 5
for i in range(1,n+1):
    print("*"*i+" "*(n-i))

*
**
***
****
*****

In [4]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i)+"*"*i)

    *
   **
  ***
 ****
*****

In [21]:
n =5
for i in range(1,n+1):
    print(" "*(n-i)+" *"*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [23]:
n =5
for i in range(1,n+1):
    print(" "*(n-i)+"* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [27]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i)+" *"*i)
    
for i in range(n-1,0,-1):
    print(" "*(n-i)+" *"*i)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [36]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i) + "*"*i) #sigle space
    
for i in range(n-1,0,-1):
    print(" "*(n-i) + "*"*i)

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [39]:
n = 5
for i in range(1,n+1):
    print("  "*(n-i) + "*"*i) #2 spaces

for i in range(n-1,0,-1):
    print("  "*(n-i) + "*"*i)

        *
      **
    ***
  ****
*****
  ****
    ***
      **
        *

In [42]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i) + " *"*i) #2 spaces

for i in range(n-1,0,-1):
    print(" "*(n-i) + " *"*i)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [46]:
n = 5
for i in range(1,n+1):
    print(""*(n-i) + " *"*i)
    
for i in range(n-1,0,-1):
    print(""*(n-i) + " *"*i)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [54]:
n = 5
for i in range(1,n+1):
    print(""*(n-i) + " *"*i)
    
for i in range(n-1,0,-1):
    print(""*(n-i) + " *"*i)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [56]:
n = 5
for i in range(1,n+1):
    print("  "*(n-i) + "* "*i)
    
for i in range(n-1,0,-1):
    print("  "*(n-i) + "* "*i)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [64]:
n = 5
for i in range(1,n+1):
    print("  "*(n-i) + "* "*i,""*(n-i) + " *"*i)
    
for i in range(n-1,0,-1):
    print("  "*(n-i) + "* "*i,""*(n-i) + " *"*i)

        *   *
      * *   * *
    * * *   * * *
  * * * *   * * * *
* * * * *   * * * * *
  * * * *   * * * *
    * * *   * * *
      * *   * *
        *   *

In [70]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print("*",end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [71]:
1 > 1
2 > 3
3 > 5
4 > 7
5 > 9


(i*2 - 1)

1

In [81]:
n = 5
for i in range(1,n+1):
    print(' '*(n-i)+'*'*(i*2-1))

    *
   ***
  *****
 *******
*********

In [87]:
n = 5
for i in range(1,n+1):
    print('  '*(n-i)+'*'*(i*2-1))

        *
      ***
    *****
  *******
*********

In [88]:
n = 5
for i in range(1,n+1):
    print(''*(n-i)+'*'*(i*2-1))

*
***
*****
*******
*********

In [89]:
li = [1,2,3,[11,22,33],5,6,7,[111,222,333],232,[223,323]]
li

[1, 2, 3, [11, 22, 33], 5, 6, 7, [111, 222, 333], 232, [223, 323]]

In [92]:
flatten_list = []
for i in li:
    
    for j in i:
        flatten_list.append(j)

TypeError: 'int' object is not iterable

In [98]:
flatten_list = []
li = [1,2,3,[11,22,33],5,6,7,[111,222,333],232,[223,323]]
for i in li:
    if type(i) == int:
        flatten_list.append(i)
    else:
        for j in i:
            flatten_list.append(j)
flatten_list

[1, 2, 3, 11, 22, 33, 5, 6, 7, 111, 222, 333, 232, 223, 323]

In [99]:
flatten_list = []
li = [1,2,3,[11,[22,33]],5,6,7,[111,[222,333]],232,[223,323]]
for i in li:
    if type(i) == int:
        flatten_list.append(i)
    else:
        for j in i:
            flatten_list.append(j)
flatten_list

[1, 2, 3, 11, [22, 33], 5, 6, 7, 111, [222, 333], 232, 223, 323]

In [5]:
flatten_list = []
li = [1,2,3,[11,[22,33]],5,6,7,[111,[222,333]],232,[223,323]]


def removenesting(li):
    for i in li:
        if type(i)==list:
            removenesting(i)
        else:
            flatten_list.append(i)
        
        
removenesting(li)        
flatten_list

[1, 2, 3, 11, 22, 33, 5, 6, 7, 111, 222, 333, 232, 223, 323]