In [2]:
set1 = {1,2,3,4,5}
print(type(set1),set1)

<class 'set'> {1, 2, 3, 4, 5}

In [3]:
set1 =set()
type(set1)

set

In [4]:
set1 = {1,1,2,2,3,4,5,5}
set1

{1, 2, 3, 4, 5}

In [5]:
set1 = {1,1,2,2,3,4,5,6,6,"Python","Data Science"}
set1

{1, 2, 3, 4, 5, 6, 'Data Science', 'Python'}

In [7]:
list1 = [1,2,3,3,3,3,5.5,3.5,"Python","DataScience"]
print(len(list1))
print()
set1 = {1,2,3,3,3,3,5.5,3.5,"Python","DataScience"}
print(len(set1))

10

7

True = 1
False = 0

In [11]:
li = [True,True,True,True,False,False,False,False]
print(li,len(li))

[True, True, True, True, False, False, False, False] 8

In [9]:
set1 = {True,True,True,True,False,False,False,False}
print(set1,len(set1))

{False, True} 2

## Set Constructor

In [12]:
li =[1,2,3,3,3,3,5.5,3.5,"Python","DataScience"]
print(li,len(li))

set1 = set(li)
print(set1,len(set1))

[1, 2, 3, 3, 3, 3, 5.5, 3.5, 'Python', 'DataScience'] 10
{1, 2, 3.5, 3, 5.5, 'DataScience', 'Python'} 7

In [13]:
li = [1,2,3,3,3,3,5.5,3.5,"Python","DataScience"]
print(li,len(li))

set1 = set(li)
print(set1,len(set1))

li2 = list(set1)
print(li2,len(li2))

[1, 2, 3, 3, 3, 3, 5.5, 3.5, 'Python', 'DataScience'] 10
{1, 2, 3.5, 3, 5.5, 'DataScience', 'Python'} 7
[1, 2, 3.5, 3, 5.5, 'DataScience', 'Python'] 7

In [14]:
li1 = [11,22,33,44,5,69,7]
li2 = list(set(li1))
li2

[33, 5, 69, 7, 11, 44, 22]

In [16]:
t1 = (1,2,3,3,3,3,5.5,3.5)
set1 = set(t1)
set1

{1, 2, 3, 3.5, 5.5}

In [17]:
t1 = (1,2,3,3,3,3,5.5,3.5)
t2 = tuple(set(t1))
t2

(1, 2, 3.5, 3, 5.5)

In [18]:
list("Python Data Science")

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e']

In [19]:
set("Python Data Science")

{' ', 'D', 'P', 'S', 'a', 'c', 'e', 'h', 'i', 'n', 'o', 't', 'y'}

In [20]:
set("Python","Data Science",123)

TypeError: set expected at most 1 argument, got 3

In [21]:
set([10,20,30])

{10, 20, 30}

In [22]:
list(1,2)

TypeError: list expected at most 1 argument, got 2

## How to access items in set

---> No indexing and slicing in set

In [24]:
set1 = {"Python","Java","R","Golang","C","C++"}
set1

{'C', 'C++', 'Golang', 'Java', 'Python', 'R'}

In [25]:
set1[0]

TypeError: 'set' object is not subscriptable

In [26]:
set1[1:5]

TypeError: 'set' object is not subscriptable

In [28]:
set1 = {"Python","Java","R","Golang","C","C++"}
print("Language set= ",set1)
print()
for val in set1:
    print("Language Name = ",val)

Language set=  {'R', 'C++', 'Java', 'C', 'Golang', 'Python'}

Language Name =  R
Language Name =  C++
Language Name =  Java
Language Name =  C
Language Name =  Golang
Language Name =  Python

In [30]:
li = [1,2,3]
i = 0
while i < len(li):
    print(li[i])
    i+=1

1
2
3

In [32]:
cnt = 0
length = len(set1)
i = 0
while i < length:
    if val == "R" and cnt < legth:
        print(val)
    cnt+=1

KeyboardInterrupt:

In [34]:
val = "R"
if val in set1:
    print(val)

R

## Set Functions

In [38]:
list1 = [4,5,6,7,8,9]
list2 = [7,8,9,10,11,12]
list3 = []
for i in list1:
    if i in list2:
        list3.append(i)
print(list3)

[7, 8, 9]

In [40]:
list1 = [4,5,6,7,8,9]
list2 = [7,8,9,10,11,12]
list3 = []
for i in list1:
    if i not in list2:
        list3.append(i)
for i in list2:
    if i not in list1:
        list3.append(i)

print(list3)

[4, 5, 6, 10, 11, 12]

## How to add items in set

### 1.add()
- Used to add only one item in set

In [42]:
set1 = {1,2,3,4,5}
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [44]:
set1.add('Python')
set1

{1, 2, 3, 4, 5, 6, 'Python'}

In [45]:
set1 = {"Python","R","Java","GoLang","C","C++"}
set1.add(".Net")
set1

{'.Net', 'C', 'C++', 'GoLang', 'Java', 'Python', 'R'}

### 2.update()

In [47]:
set1 ={"Python","R","Java"}
set2 = {"Golang","C","C++"}

set1.update(set2)

print("set1--->",set1)
print("set2--->",set2)

set1---> {'R', 'C++', 'Java', 'C', 'Golang', 'Python'}
set2---> {'C++', 'C', 'Golang'}

In [48]:
set1 ={"Python","R","Java"}
set2 = {"Golang","C","C++"}

set2.update(set1)

print("set1--->",set1)
print("set2--->",set2)

set1---> {'Java', 'Python', 'R'}
set2---> {'R', 'C++', 'Java', 'C', 'Golang', 'Python'}

In [49]:
set1 = {1,2,3}
set2 = {3,44,55,66}

set1.update(set2)

print("set1--->",set1)
print("set2--->",set2)

set1---> {1, 2, 3, 66, 55, 44}
set2---> {66, 3, 44, 55}

In [50]:
set1 = {1,2,3}
set2 = {3,44,55,66}

set2.update(set1)

print("set1--->",set1)
print("set2--->",set2)

set1---> {1, 2, 3}
set2---> {1, 66, 3, 2, 55, 44}

In [51]:
set1 = {1,2,3}
set2 = [44,55,66]  #--->list

set1.update(set2)  #--->list,tuple,set

print("set1--->",set1)
print("set2--->",set2)

set1---> {1, 2, 3, 66, 44, 55}
set2---> [44, 55, 66]

In [52]:
set1 = {1,2,3}
set2 = [44,55,66]  #--->list

set2.update(set1)  #--->list,tuple,set

print("set1--->",set1)
print("set2--->",set2)

AttributeError: 'list' object has no attribute 'update'

In [53]:
set1 = {1,2,3}
set2 = (44,55,66)  #--->tuple

set1.update(set2)  #--->list,tuple,set

print("set1--->",set1)
print("set2--->",set2)

set1---> {1, 2, 3, 66, 44, 55}
set2---> (44, 55, 66)

In [55]:
set1 = {1,2,3}
set2 = (44,55,66) 

set1.update("Python","Java") 

print("set1--->",set1)
print("set2--->",set2)

set1---> {1, 2, 3, 'v', 'J', 'a', 'o', 'h', 'y', 't', 'n', 'P'}
set2---> (44, 55, 66)

### 3.union()
- Returns a new set

In [56]:
set1 = {1,2,3,4,5}
set2 = {4,5,44,55,66}
set3 = {}

set3 = set1.union(set2)
print("set1--->",set1)
print("set2--->",set2)
print("set3--->",set3)

set1---> {1, 2, 3, 4, 5}
set2---> {66, 4, 5, 55, 44}
set3---> {1, 2, 3, 4, 5, 66, 44, 55}

In [57]:
set1 = {1,2,3,4,5}
set2 = {4,5,44,55,66}
set3 = {}

set3 = set2.union(set1)
print("set1--->",set1)
print("set2--->",set2)
print("set3--->",set3)

set1---> {1, 2, 3, 4, 5}
set2---> {66, 4, 5, 55, 44}
set3---> {1, 66, 2, 4, 5, 3, 44, 55}

In [58]:
set1 = {1,2,3,4,5}
set2 = {4,5,44,55,66}
set4 = {2,3,22,33,11}
set3 = {}

set3 = set1.union(set2,set4)
print("set1--->",set1)
print("set2--->",set2)
print("set3--->",set3)

set1---> {1, 2, 3, 4, 5}
set2---> {66, 4, 5, 55, 44}
set3---> {1, 2, 3, 4, 5, 66, 33, 11, 44, 22, 55}