# Set

## Delete
- 1.remove()
- 2.discard()
- 3.pop()
- 4.clear()

### 1.reomve()
- set.remove(item)

In [1]:
set1 = {1,2,3,4,5,9}
set1.remove(9)
set1

{1, 2, 3, 4, 5}

In [3]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before remove = {lang_set}")
item = input("Enter item which want to remove --->")
lang_set.remove(item)
print(f"Language set after remove = {lang_set}")

Language set before remove = {'C', 'Java', 'C++', 'R', 'Python'}
Enter item which want to remove --->Java
Language set after remove = {'C', 'C++', 'R', 'Python'}

In [4]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before remove = {lang_set}")
item = input("Enter item which want to remove --->")
lang_set.remove(item)
print(f"Language set after remove = {lang_set}")

Language set before remove = {'C', 'Java', 'C++', 'R', 'Python'}
Enter item which want to remove --->Cplus plus

KeyError: 'Cplus plus'

In [5]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before remove = {lang_set}")
item = input("Enter item which want to remove --->")
if item in lang_set:
    lang_set.remove(item)
else:
    print("Item not present")
print(f"Language set after remove = {lang_set}")

Language set before remove = {'C', 'Java', 'C++', 'R', 'Python'}
Enter item which want to remove --->C++
Language set after remove = {'C', 'Java', 'R', 'Python'}

In [6]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before remove = {lang_set}")
item = input("Enter item which want to remove --->")
if item in lang_set:
    lang_set.remove(item)
else:
    print("Item not present")
print(f"Language set after remove = {lang_set}")

Language set before remove = {'C', 'Java', 'C++', 'R', 'Python'}
Enter item which want to remove --->r
Item not present
Language set after remove = {'C', 'Java', 'C++', 'R', 'Python'}

### 2.discard()

In [7]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before remove = {lang_set}")
item = input("Enter item which want to remove --->")
lang_set.remove(item)
print(f"Language set after remove = {lang_set}")

Language set before remove = {'C', 'Java', 'C++', 'R', 'Python'}
Enter item which want to remove --->C++
Language set after remove = {'C', 'Java', 'R', 'Python'}

In [8]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before remove = {lang_set}")
item = input("Enter item which want to remove --->")
lang_set.remove(item)
print(f"Language set after remove = {lang_set}")

Language set before remove = {'C', 'Java', 'C++', 'R', 'Python'}
Enter item which want to remove --->c++

KeyError: 'c++'

In [9]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before discard = {lang_set}")
item = input("Enter item which want to remove --->")
lang_set.discard(item)
print(f"Language set after discard = {lang_set}")

Language set before discard = {'C', 'Java', 'C++', 'R', 'Python'}
Enter item which want to remove --->C++
Language set after discard = {'C', 'Java', 'R', 'Python'}

In [10]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before discard = {lang_set}")
item = input("Enter item which want to remove --->")
lang_set.discard(item)
print(f"Language set after discard = {lang_set}")

Language set before discard = {'C', 'Java', 'C++', 'R', 'Python'}
Enter item which want to remove --->c++
Language set after discard = {'C', 'Java', 'C++', 'R', 'Python'}

### 3.pop()
- It will delete random element form set

In [11]:
lang_set = {"C","C++","Python","Java","R"}
print(f"Language set before discard = {lang_set}")
lang_set.pop()
print(f"Language set after discard = {lang_set}")

Language set before discard = {'C', 'Java', 'C++', 'R', 'Python'}
Language set after discard = {'Java', 'C++', 'R', 'Python'}

In [12]:
set1 = {1,2,3,4,5}
set1.pop()
set1

{2, 3, 4, 5}

In [13]:
sub_name = {'Phy','Chem','Bio','Math','Eng'}
print(f"Before pop --->{sub_name}")
sub_name.pop()
print(f"After pop ---> {sub_name}")

Before pop --->{'Chem', 'Math', 'Bio', 'Phy', 'Eng'}
After pop ---> {'Math', 'Bio', 'Phy', 'Eng'}

### 4.clear()
- Used to remove all elements in set and returns an empty set-->set()

In [16]:
set1 = {'phy','che','math','eng','bio',1,2,3,4,5, 'Java', 'C', 'Python'}

In [17]:
set1.clear()

In [18]:
set1

set()

### >>del

In [19]:
set1 = {'phy','che','math','eng','bio',1,2,3,4,5, 'Java', 'C', 'Python'}
set1

{1, 2, 3, 4, 5, 'C', 'Java', 'Python', 'bio', 'che', 'eng', 'math', 'phy'}

In [21]:
del set1

In [22]:
set1

NameError: name 'set1' is not defined

## Other Functions

### 1.intersection()
- It returns common elements from two or more sets

In [23]:
set1 = {"Python","R"}
set2 = {"R","Java"}

set3 = set1.intersection(set2)
set3

{'R'}

In [4]:
set1 = {"Python","R","C"}
set2 = {"R","Java","C"}
set3 = ["C","R","C++"]  #--->list

set4 = set1.intersection(set2,set3)
set4

{'C', 'R'}

In [5]:
set1 = {"Python","R","C"}
set2 = {"R","Java","C"}
set3 = ("C","R","C++")   #--->tuple

set4 = set1.intersection(set2,set3)
set4

{'C', 'R'}

### 2.intersection_update()
- It updates the set not returns new set

In [8]:
set1 = {"Python","R"}
set2 = {"R","Java"}

set2.intersection_update(set1)
set2

{'R'}

In [10]:
city1 = {"Pune","Mumbai","Chennai"}
city2 = {"Mumbai","Banglore","Delhi"}

city1.intersection_update(city2)
print(city1)
print(city2)

{'Mumbai'}
{'Banglore', 'Mumbai', 'Delhi'}

10 - 6 = 4
1,2,3,4,5,6,7,8,9,10
1,2,3,4,5,6
Difference--->7,8,9,10

### 3.difference()

In [12]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4,5,6}

set3 = set1.difference(set2)
set3

{7, 8, 9, 10}

In [13]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4,5,6}
print(f"Set1 before difference opeartion---> {set1}")
print(f"Set2 before difference operation---> {set2}")
set3 = set1.difference(set2)
print(f"Set3 after difference opeartion--->{set3}")

Set1 before difference opeartion---> {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 before difference operation---> {1, 2, 3, 4, 5, 6}
Set3 after difference opeartion--->{8, 9, 10, 7}

In [15]:
set1 = {"Pune","Mumbai","Delhi","Hyderabad","Kolkata"}
set2 = {"Banglore","Mumbai","Chennai","Pune"}

print(f"Set1 before difference operation---> {set1}")
print(f"Set2 before difference operation---> {set2}")

set3 = set1.difference(set2)
print(f"Set3 after difference operation---> {set3}")

Set1 before difference operation---> {'Pune', 'Delhi', 'Mumbai', 'Kolkata', 'Hyderabad'}
Set2 before difference operation---> {'Banglore', 'Chennai', 'Mumbai', 'Pune'}
Set3 after difference operation---> {'Kolkata', 'Hyderabad', 'Delhi'}

In [16]:
set1 = {"Pune","Mumbai","Delhi","Hyderabad","Kolkata"}
set2 = {"Banglore","Mumbai","Chennai","Pune"}

print(f"Set1 before difference operation---> {set1}")
print(f"Set2 before difference operation---> {set2}")

set3 = set2.difference(set2)
print(f"Set3 after difference operation---> {set3}")

Set1 before difference operation---> {'Pune', 'Delhi', 'Mumbai', 'Kolkata', 'Hyderabad'}
Set2 before difference operation---> {'Banglore', 'Chennai', 'Mumbai', 'Pune'}
Set3 after difference operation---> set()

In [22]:
li1 = [1,2,3,4,5]
li2 = [3,4,5,6,7]
li3 =[]
for i in li1:
    if i not in li2:
        li3.append(i)
li3

[1, 2]

In [1]:
li1 = [1,2,3,4,5]
li2 = [3,4,5,6,7]
res = list(set(li1).difference(li2))
res

[1, 2]

### 4.difference_update()

In [2]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4,5,6}

print(f"Set1 before difference update--->{set1}")
print(f"Set2 before difference update--->{set2}")

set1.difference_update(set2)

print(f"Set1 after difference update--->{set1}")
print(f"Set2 after difference update--->{set2}")

Set1 before difference update--->{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 before difference update--->{1, 2, 3, 4, 5, 6}
Set1 after difference update--->{7, 8, 9, 10}
Set2 after difference update--->{1, 2, 3, 4, 5, 6}

In [3]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}

print(f"Set1 before difference update--->{set1}")
print(f"Set2 before difference update--->{set2}")

set1.difference_update(set2)

print(f"Set1 after difference update--->{set1}")
print(f"Set2 after difference update--->{set2}")

Set1 before difference update--->{'Delhi', 'Pune', 'Kolkata', 'Hyderabad', 'Mumbai'}
Set2 before difference update--->{'Mumbai', 'Bangalore', 'Chennai', 'Pune'}
Set1 after difference update--->{'Delhi', 'Kolkata', 'Hyderabad'}
Set2 after difference update--->{'Mumbai', 'Bangalore', 'Chennai', 'Pune'}

In [5]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}
set3 = {"Pune","Banglore","Gurgaon","Mumbai"}

print(f"Set1 before difference update--->{set1}")
print(f"Set2 before difference update--->{set2}")

set3.difference_update(set1,set2)

print(f"Set1 after difference update--->{set1}")
print(f"Set2 after difference update--->{set2}")
print(f"Set3 after difference update--->{set3}")

Set1 before difference update--->{'Delhi', 'Pune', 'Kolkata', 'Hyderabad', 'Mumbai'}
Set2 before difference update--->{'Mumbai', 'Bangalore', 'Chennai', 'Pune'}
Set1 after difference update--->{'Delhi', 'Pune', 'Kolkata', 'Hyderabad', 'Mumbai'}
Set2 after difference update--->{'Mumbai', 'Bangalore', 'Chennai', 'Pune'}
Set3 after difference update--->{'Banglore', 'Gurgaon'}

In [7]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Banglore','Chennai','Mumbai'}
set3 = {"Pune","Banglore","Chennai","Mumbai"}

print(f"Set1 before difference update--->{set1}")
print(f"Set2 before difference update--->{set2}")

set3.difference_update(set1,set2)

print(f"Set1 after difference update--->{set1}")
print(f"Set2 after difference update--->{set2}")
print(f"Set3 after difference update--->{set3}")

Set1 before difference update--->{'Delhi', 'Pune', 'Kolkata', 'Hyderabad', 'Mumbai'}
Set2 before difference update--->{'Banglore', 'Mumbai', 'Chennai', 'Pune'}
Set1 after difference update--->{'Delhi', 'Pune', 'Kolkata', 'Hyderabad', 'Mumbai'}
Set2 after difference update--->{'Banglore', 'Mumbai', 'Chennai', 'Pune'}
Set3 after difference update--->set()

### 5.symmetric_difference()

In [10]:
set1 = {"Python","R"}
set2 = {"R","Java"}

print(f"Set1 before symmetric difference operation--->{set1}")
print(f"Set2 before symmetric difference operation--->{set2}")

res = set1.symmetric_difference(set2)


print(f"Set1 after symmetric difference operation--->{set1}")
print(f"Set2 after symmetric difference operation--->{set2}")
print(f"Result--->{res}")

Set1 before symmetric difference operation--->{'R', 'Python'}
Set2 before symmetric difference operation--->{'R', 'Java'}
Set1 after symmetric difference operation--->{'R', 'Python'}
Set2 after symmetric difference operation--->{'R', 'Java'}
Result--->{'Python', 'Java'}

### 6.symmetric_difference_update()

In [11]:
set1 = {"Python","R"}
set2 = {"R","Java"}

print(f"Set1 before symmetric difference operation--->{set1}")
print(f"Set2 before symmetric difference operation--->{set2}")

set1.symmetric_difference_update(set2)


print(f"Set1 after symmetric difference operation--->{set1}")
print(f"Set2 after symmetric difference operation--->{set2}")

Set1 before symmetric difference operation--->{'R', 'Python'}
Set2 before symmetric difference operation--->{'R', 'Java'}
Set1 after symmetric difference operation--->{'Java', 'Python'}
Set2 after symmetric difference operation--->{'R', 'Java'}

In [12]:
set1 = {"Python","R"}
set2 = {"R","Java"}

print(f"Set1 before symmetric difference operation--->{set1}")
print(f"Set2 before symmetric difference operation--->{set2}")

set2.symmetric_difference_update(set1)


print(f"Set1 after symmetric difference operation--->{set1}")
print(f"Set2 after symmetric difference operation--->{set2}")

Set1 before symmetric difference operation--->{'R', 'Python'}
Set2 before symmetric difference operation--->{'R', 'Java'}
Set1 after symmetric difference operation--->{'R', 'Python'}
Set2 after symmetric difference operation--->{'Python', 'Java'}

In [13]:
set1 = {"Python","R"}
set2 = {"R","Java"}

print(f"Set1 before symmetric difference operation--->{set1}")
print(f"Set2 before symmetric difference operation--->{set2}")

set2.symmetric_difference_update(set2)


print(f"Set1 after symmetric difference operation--->{set1}")
print(f"Set2 after symmetric difference operation--->{set2}")

Set1 before symmetric difference operation--->{'R', 'Python'}
Set2 before symmetric difference operation--->{'R', 'Java'}
Set1 after symmetric difference operation--->{'R', 'Python'}
Set2 after symmetric difference operation--->set()

### 7.issubset()
- True
- False

In [14]:
set1 = {1,2,3,4,5}
set2 = {1,2}

set1.issubset(set2)

False

In [15]:
set1 = {1,2,3,4,5}
set2 = {1,2}

set2.issubset(set1)

True

In [16]:
set1 = {1,2,3,4,5}
set2 = {1,2}

set2.issubset(set2)

True

In [18]:
a = {"Python","R"}
b = {"R"}

b.issubset(a)

True

### 8.issuperset()
- True
- False

In [19]:
set1 = {1,2,3,4,5}
set2 = {1,2}

set1.issuperset(set2)

True

In [20]:
set1 = {1,2,3,4,5}
set2 = {1,2}

set2.issuperset(set1)

False

### 9.isdisjoint()

In [21]:
set1 = {"Python","R"}
set2 = {"R"}

set1.isdisjoint(set2)

False

In [23]:
set1 = {"Python","R"}
set2 = {"R"}

set2.isdisjoint(set1)

False

In [24]:
set1 = {"Python","R"}
set2 = {"Java"}

set1.isdisjoint(set2)

True