# Data types

str    - ordered   ,immutable ,allowed duplicate items    ,""
list   - ordered   ,mutable   ,allowed duplicate items    ,[]
tuple  - ordered   ,immutable ,allowed duplicate items    ,()
set    - unordered ,mutable   ,duplicates are not allowed ,set()
dict   - ordered(python >=3.7),Mutable , Duplicate keys not allowed , { } , dict()

# Dictionary

dict1 = {key1 : val1 , key2 : val2}
1.It is a collection of key and value pair
2.We cannot access items by using index
3.Duplicates keys are not allowed but values can be duplicate
4.Dictionaries are comma separated
5.dict can be defined by {}

ordered   ---> python version >=3.7
unordered ---> python version < 3.7

key   ---> Immutable data type(int,float,string,tuple,frozenset)
value ---> All data type (int,float,string,list,tuple,set,frozenset,dict,etc....)

In [1]:
# defining a dictionary

In [2]:
di1 = {}
type(di1)

dict

In [3]:
di2 = dict()
type(di2)

dict

In [4]:
di1 = {"key1" : "val1" , "key2" : "val2" , "key3" : "val3"}
print(di1)

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

int,float,string,tuple,frozenset ---> keys

In [5]:
di1 = {1 : "One" , 1.5 : "One Point Five"}
di1

{1: 'One', 1.5: 'One Point Five'}

In [6]:
di1 = {1 : "One" , 1.5 : "One Point Five", 3 : "Three" ,(1,2,3) : "Its a tuple"}
di1

{1: 'One', 1.5: 'One Point Five', 3: 'Three', (1, 2, 3): 'Its a tuple'}

In [12]:
di1 = {
    1 : "One" ,
    1.5 : "One Point Five",
    3 : "Three" ,
    (1,2,3) : "Its a tuple",
    frozenset({1,2,3}) : "It is a frozen set"
}
print(di1)

{1: 'One', 1.5: 'One Point Five', 3: 'Three', (1, 2, 3): 'Its a tuple', frozenset({1, 2, 3}): 'It is a frozen set'}

In [13]:
di1 = {
    1 : "One" ,
    1.5 : "One Point Five",
    3 : "Three" ,
    [1,2,3] : "It is a list",
    frozenset({1,2,3}) : "It is a frozen set"
}
print(di1)

TypeError: unhashable type: 'list'

In [14]:
di1 = {
    1 : "One" ,
    1.5 : "One Point Five",
    3 : "Three" ,
    (1,2,3) : "Its a tuple",
    {1,2,3} : "It is a set"
}
print(di1)

TypeError: unhashable type: 'set'

In [16]:
di1 = {
    1 : "One" ,
    1.5 : "One Point Five",
    3 : "Three" ,
    (1,2,3) : "Its a tuple",
    frozenset({1,2,3}) : "It is a frozen set",
    {1:10,2:20,3:30} : "It is a dictionary"
}
print(di1)

TypeError: unhashable type: 'dict'

int,float,str,list,tuple,set,frozenset,dict ---> Values

In [17]:
di1 = {1:1,2:2,3:3.3}
di1

{1: 1, 2: 2, 3: 3.3}

In [18]:
di1 = {
    1:1,
    2:2.2,
    "List" : [1,2,3]
}
di1

{1: 1, 2: 2.2, 'List': [1, 2, 3]}

In [23]:
di1 = {
    1:1,
    2:2.2,
    "List" : [1,2,3],
    "Set" : {1,2,3},
    "dict" : {1:1,2:2,5:5},
    "String" : "Python",
    "frozenset" : frozenset([1,2,3])
}
di1

{1: 1,
 2: 2.2,
 'List': [1, 2, 3],
 'Set': {1, 2, 3},
 'dict': {1: 1, 2: 2, 5: 5},
 'String': 'Python',
 'frozenset': frozenset({1, 2, 3})}

In [24]:
student_info = {
    "F_name" : "Rakesh",
    "L_name" : "Sharma",
    "Age"    : 24,
    "Marks"  : 96,
    "Place"  : "Mahrashtra"
}
student_info

{'F_name': 'Rakesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra'}

In [25]:
student_info = {
    "F_name" : "Rakesh",   # vanished
    "L_name" : "Sharma",
    "Age"    : 24,
    "Marks"  : 96,
    "Place"  : "Mahrashtra",
    "F_name" : "Sukesh"
}
student_info

{'F_name': 'Sukesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra'}

## Access dictionary items
- dict_name[Key_name]

In [26]:
student_info

{'F_name': 'Sukesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra'}

In [28]:
student_info["F_name"]

'Sukesh'

In [29]:
student_info["L_name"]

'Sharma'

In [30]:
student_info["Age"]

24

In [31]:
student_info["Marks"]

96

In [32]:
student_info["Place"]

'Mahrashtra'

In [33]:
student_info["Name"]

KeyError: 'Name'

# 1.get()

In [34]:
student_info

{'F_name': 'Sukesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra'}

In [35]:
student_info.get("F_name")

'Sukesh'

In [36]:
student_info.get("L_NAME")  # L_NAME is not present in dict ----> no error

In [37]:
student_info.get("Place")

'Mahrashtra'

# Accessing items by using loop

In [38]:
student_info

{'F_name': 'Sukesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra'}

In [39]:
student_info.keys()

dict_keys(['F_name', 'L_name', 'Age', 'Marks', 'Place'])

In [40]:
student_info.values()

dict_values(['Sukesh', 'Sharma', 24, 96, 'Mahrashtra'])

In [41]:
type(student_info.values())

dict_values

In [43]:
student_info.items()

dict_items([('F_name', 'Sukesh'), ('L_name', 'Sharma'), ('Age', 24), ('Marks', 96), ('Place', 'Mahrashtra')])

In [44]:
type(student_info.items())

dict_items

In [45]:
list(enumerate("Pthon"))

[(0, 'P'), (1, 't'), (2, 'h'), (3, 'o'), (4, 'n')]

In [48]:
stud_list = [('F_name', 'Sukesh'),('L_name', 'Sharma'), ('Age', 24),('Marks', 96), ('Place', 'Mahrashtra')]
stud_list

[('F_name', 'Sukesh'),
 ('L_name', 'Sharma'),
 ('Age', 24),
 ('Marks', 96),
 ('Place', 'Mahrashtra')]

In [50]:
for items in stud_list:
    print(items,type(items))

('F_name', 'Sukesh') <class 'tuple'>
('L_name', 'Sharma') <class 'tuple'>
('Age', 24) <class 'tuple'>
('Marks', 96) <class 'tuple'>
('Place', 'Mahrashtra') <class 'tuple'>

In [53]:
a,b = 10,20
a

10

In [54]:
b

20

In [55]:
for a,b in stud_list:
    print(a,b)

F_name Sukesh
L_name Sharma
Age 24
Marks 96
Place Mahrashtra

In [56]:
for key,value in stud_list:
    print(f"Key ----> {key} ::::: Value ----> {value}")

Key ----> F_name ::::: Value ----> Sukesh
Key ----> L_name ::::: Value ----> Sharma
Key ----> Age ::::: Value ----> 24
Key ----> Marks ::::: Value ----> 96
Key ----> Place ::::: Value ----> Mahrashtra

# Access keys and values from dict

In [57]:
for key,val in student_info.items():
    print(f"Key ----> {key} ::::: Value ----> {val}")

Key ----> F_name ::::: Value ----> Sukesh
Key ----> L_name ::::: Value ----> Sharma
Key ----> Age ::::: Value ----> 24
Key ----> Marks ::::: Value ----> 96
Key ----> Place ::::: Value ----> Mahrashtra

# Access keys from dict

In [59]:
for key in student_info.keys():
    print(f"Key ----> {key}")

Key ----> F_name
Key ----> L_name
Key ----> Age
Key ----> Marks
Key ----> Place

In [60]:
for i in student_info:
    print(i)

F_name
L_name
Age
Marks
Place

# Access values from a dict

In [61]:
for val in student_info.values():
    print(f"Value ----> {val}")

Value ----> Sukesh
Value ----> Sharma
Value ----> 24
Value ----> 96
Value ----> Mahrashtra

# Adding items to dict

In [62]:
student_info

{'F_name': 'Sukesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra'}

In [63]:
student_info["Sub_list"] = ["Phy","Math","Chem"]

In [64]:
student_info

{'F_name': 'Sukesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra',
 'Sub_list': ['Phy', 'Math', 'Chem']}

In [65]:
student_info["Placement"] = "Not placed yet"
student_info["Status"] = "Not Married"
student_info["Siblings"] = "Yes"

In [66]:
student_info

{'F_name': 'Sukesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra',
 'Sub_list': ['Phy', 'Math', 'Chem'],
 'Placement': 'Not placed yet',
 'Status': 'Not Married',
 'Siblings': 'Yes'}

In [67]:
student_info["F_name"] = "Rakesh"

In [68]:
student_info

{'F_name': 'Rakesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra',
 'Sub_list': ['Phy', 'Math', 'Chem'],
 'Placement': 'Not placed yet',
 'Status': 'Not Married',
 'Siblings': 'Yes'}

In [72]:
def demo(li):
    new_li = [i+500 for i in li]
    return new_li
li = [1,2,3,4,5]
di = {"Nothing" : demo(li)}
di

{'Nothing': [501, 502, 503, 504, 505]}

# update()

In [74]:
student_info = {
    'F_name': 'Rakesh',
    'L_name': 'Sharma',
    'Age': 24,
    'Marks': 96,
    'Place': 'Mahrashtra'
}
student_info

{'F_name': 'Rakesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra'}

In [75]:
new_info = {
    "Placement_status" : "Placement_status",
    "Status" : "Not Married",
    "Siblings" : "Yes",
    "Ready to relocate ?" : "Pune"
}

In [76]:
student_info.update(new_info)

In [77]:
student_info

{'F_name': 'Rakesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra',
 'Placement_status': 'Placement_status',
 'Status': 'Not Married',
 'Siblings': 'Yes',
 'Ready to relocate ?': 'Pune'}

In [79]:
di1 = {}
di1.update(new_info)

In [80]:
di1

{'Placement_status': 'Placement_status',
 'Status': 'Not Married',
 'Siblings': 'Yes',
 'Ready to relocate ?': 'Pune'}

In [81]:
di1.update(student_info)

In [82]:
di1

{'Placement_status': 'Placement_status',
 'Status': 'Not Married',
 'Siblings': 'Yes',
 'Ready to relocate ?': 'Pune',
 'F_name': 'Rakesh',
 'L_name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Mahrashtra'}

# Square of 1st 10 numbers

In [2]:
square_dict = {}
for i in range(1,11):
    square_dict[i] = i**2
    print(square_dict)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [86]:
square_dict = {}
for i in range(1,11):
    square_dict[i] = i**2
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# ASCII values for alphabets

In [ ]:
{'a': 97,'b':98,'z' :122}
{'A': 65,'B':66,'Z' :90}

In [1]:
num = 65
alpha_dict = {}
for i in range(65,91):
    alpha_dict[i] = chr(num)
    num+=1
print(alpha_dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

In [92]:
num = 65
alpha_dict = {}
for i in range(65,91):
    alpha_dict[i] = chr(num)
    num+=1
print(alpha_dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

In [93]:
num = 97
alpha_dict = {}
for i in range(97,123):
    alpha_dict[i] = chr(num)
    num+=1
    print(alpha_dict)

{97: 'a'}
{97: 'a', 98: 'b'}
{97: 'a', 98: 'b', 99: 'c'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y'}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

In [94]:
num = 97
alpha_dict = {}
for i in range(97,123):
    alpha_dict[i] = chr(num)
    num+=1
print(alpha_dict)

{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}