# Delete items from dictionary
- 1.pop()
- 2.popitem()
- 3.clear()
- 4.del

In [5]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-Clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1

{'Employee name': 'John',
 'Company name': 'E-Clerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

## 1.pop()
- dictionary.pop(key)

In [6]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-Clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1

{'Employee name': 'John',
 'Company name': 'E-Clerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [7]:
dict1.pop("Designation")
dict1

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000'}

In [9]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-Clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
dict1.pop("Company name")
print()
print(dict1)

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{'Employee name': 'John', 'Salary': '1500000', 'Designation': 'Data Scientist'}

## 2.popitem()
- It will remove the last item

In [10]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-Clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
dict1.popitem()
print()
print(dict1)

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000'}

In [12]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-Clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
dict1.popitem()
print()
print(dict1)
print()
dict1.popitem()
print(dict1)

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000'}

{'Employee name': 'John', 'Company name': 'E-Clerx'}

## 3.clear

In [13]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-Clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
dict1.clear()
print()
print(dict1)

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{}

In [14]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-Clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
del dict1
print()
print(dict1)

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

NameError: name 'dict1' is not defined

In [16]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-Clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
del dict1["Company name"]
print()
print(dict1)

{'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{'Employee name': 'John', 'Salary': '1500000', 'Designation': 'Data Scientist'}

# Nested Dictionary

In [17]:
dict1 = {
    "Employee name" : "John",
    "Company name"  : "E-clerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}

In [18]:
dict2 = {
    "Employee name" : "Mohit",
    "Company name"  : "Accenture",
    "Salary"        : "2000000",
    "Designation"   : "ML Engineer"
}

In [20]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2
}
print(employee_info)

{'ABC11': {'Employee name': 'John',
  'Company name': 'E-Clerx',
  'Salary': '1500000',
  'Designation': 'Data Scientist'},
 'ABC12': {'Employee name': 'Mohit',
  'Company name': 'Accenture',
  'Salary': '2000000',
  'Designation': 'ML Engineer'}}

In [21]:
li = [[1,2,3],[11,22,33],[111,222,333]]
li[1][1]

22

In [22]:
dict1

{'Employee name': 'John',
 'Company name': 'E-Clerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [23]:
dict1["Company name"]

'E-Clerx'

In [24]:
employee_info["ABC12"]

{'Employee name': 'Mohit',
 'Company name': 'Accenture',
 'Salary': '2000000',
 'Designation': 'ML Engineer'}

In [25]:
employee_info["ABC12"]["Company name"]

'Accenture'

In [26]:
employee_info["ABC12"]["Salary"]

'2000000'

In [28]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2,
    "ABC13" : {
        "Employee name" : "Akash",
        "Company name"  : "TCS",
        "Salary"        : [1500000,1700000,2000000],
        "Designation"   : "Data Analyst"
        
    }
}
print(employee_info)

{'ABC11': {'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}, 'ABC12': {'Employee name': 'Mohit', 'Company name': 'Accenture', 'Salary': '2000000', 'Designation': 'ML Engineer'}, 'ABC13': {'Employee name': 'Akash', 'Company name': 'TCS', 'Salary': [1500000, 1700000, 2000000], 'Designation': 'Data Analyst'}}

In [29]:
employee_info["ABC13"]

{'Employee name': 'Akash',
 'Company name': 'TCS',
 'Salary': [1500000, 1700000, 2000000],
 'Designation': 'Data Analyst'}

In [30]:
employee_info["ABC13"]["Salary"]

[1500000, 1700000, 2000000]

In [32]:
employee_info["ABC13"]["Salary"][0]

1500000

In [33]:
employee_info["ABC13"]["Salary"][0:2]

[1500000, 1700000]

In [34]:
employee_info["ABC13"]["Salary"][-1]

2000000

In [35]:
employee_info

{'ABC11': {'Employee name': 'John',
  'Company name': 'E-Clerx',
  'Salary': '1500000',
  'Designation': 'Data Scientist'},
 'ABC12': {'Employee name': 'Mohit',
  'Company name': 'Accenture',
  'Salary': '2000000',
  'Designation': 'ML Engineer'},
 'ABC13': {'Employee name': 'Akash',
  'Company name': 'TCS',
  'Salary': [1500000, 1700000, 2000000],
  'Designation': 'Data Analyst'}}

In [36]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2,
    "ABC13" : {
        "Employee name" : "Akash",
        "Company name"  : "TCS",
        "Salary"        : [1500000,1700000,2000000],
        "Designation"   : "Data Analyst",
        "Location"      : {
            "City"      : "Pune",
            "State"     : "Maharashtra",
            "Pincode"   : "411001"
        }
        
    }
}
print(employee_info)

{'ABC11': {'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}, 'ABC12': {'Employee name': 'Mohit', 'Company name': 'Accenture', 'Salary': '2000000', 'Designation': 'ML Engineer'}, 'ABC13': {'Employee name': 'Akash', 'Company name': 'TCS', 'Salary': [1500000, 1700000, 2000000], 'Designation': 'Data Analyst', 'Location': {'City': 'Pune', 'State': 'Maharashtra', 'Pincode': '411001'}}}

In [37]:
employee_info["ABC13"]["Location"]

{'City': 'Pune', 'State': 'Maharashtra', 'Pincode': '411001'}

In [38]:
employee_info["ABC13"]["Location"]["State"]

'Maharashtra'

In [39]:
employee_info["ABC13"]["Location"]["Pincode"]

'411001'

In [40]:
employee_info["ABC13"]["Location"]["Pincode"] = 411002

In [41]:
employee_info

{'ABC11': {'Employee name': 'John',
  'Company name': 'E-Clerx',
  'Salary': '1500000',
  'Designation': 'Data Scientist'},
 'ABC12': {'Employee name': 'Mohit',
  'Company name': 'Accenture',
  'Salary': '2000000',
  'Designation': 'ML Engineer'},
 'ABC13': {'Employee name': 'Akash',
  'Company name': 'TCS',
  'Salary': [1500000, 1700000, 2000000],
  'Designation': 'Data Analyst',
  'Location': {'City': 'Pune', 'State': 'Maharashtra', 'Pincode': 411002}}}

In [44]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2,
    "ABC13" : {
        "Employee name" : "Akash",
        "Company name"  : "Infosys",
        "Salary"        : [1500000,1700000,2000000],
        "Designation"   : "Data Analyst"
    }
}
print(employee_info)

{'ABC11': {'Employee name': 'John', 'Company name': 'E-Clerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}, 'ABC12': {'Employee name': 'Mohit', 'Company name': 'Accenture', 'Salary': '2000000', 'Designation': 'ML Engineer'}, 'ABC13': {'Employee name': 'Akash', 'Company name': 'Infosys', 'Salary': [1500000, 1700000, 2000000], 'Designation': 'Data Analyst'}}

In [45]:
employee_info["ABC13"]

{'Employee name': 'Akash',
 'Company name': 'Infosys',
 'Salary': [1500000, 1700000, 2000000],
 'Designation': 'Data Analyst'}

In [46]:
employee_info["ABC13"]["Salary"]

[1500000, 1700000, 2000000]

In [47]:
employee_info["ABC13"]["Salary"][0]

1500000

In [48]:
employee_info["ABC13"]["Salary"][1]

1700000

In [49]:
employee_info["ABC13"]["Salary"][-1] = 2100000

In [50]:
employee_info["ABC13"]["Salary"]

[1500000, 1700000, 2100000]

In [51]:
type(employee_info["ABC13"]["Salary"])

list

In [52]:
for i in employee_info["ABC13"]["Salary"]:
    print(i+5)

1500005
1700005
2100005

In [53]:
lang_name = ["Python","Java","C","R","GoLang"]
popularity = [95, 89, 75, 79, 70]

In [56]:
for L in lang_name:
    for P in popularity:
        print(P)
    print()

95
89
75
79
70

95
89
75
79
70

95
89
75
79
70

95
89
75
79
70

95
89
75
79
70

In [61]:
lang_dict = {}
for L in lang_name:
    for P in popularity:
        lang_dict[L] = P
    print(lang_dict)

{'Python': 70}
{'Python': 70, 'Java': 70}
{'Python': 70, 'Java': 70, 'C': 70}
{'Python': 70, 'Java': 70, 'C': 70, 'R': 70}
{'Python': 70, 'Java': 70, 'C': 70, 'R': 70, 'GoLang': 70}

In [62]:
lang_dict = {}
for index,lang in enumerate(lang_name):
    lang_dict[lang] = popularity[index]
    print(lang_dict)

{'Python': 95}
{'Python': 95, 'Java': 89}
{'Python': 95, 'Java': 89, 'C': 75}
{'Python': 95, 'Java': 89, 'C': 75, 'R': 79}
{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

In [63]:
lang_dict = {}
for index,lang in enumerate(lang_name):
    lang_dict[lang] = popularity[index]
print(lang_dict)

{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

In [66]:
lang_dict = {}
for i in range(0,len(lang_name)):
    print(lang_name[i],popularity[i])

Python 95
Java 89
C 75
R 79
GoLang 70

In [68]:
lang_dict = {}
for i in range(0,len(lang_name)):
    lang_dict.update({lang_name[i]:popularity[i]})
    print(lang_dict)

{'Python': 95}
{'Python': 95, 'Java': 89}
{'Python': 95, 'Java': 89, 'C': 75}
{'Python': 95, 'Java': 89, 'C': 75, 'R': 79}
{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

# Sort Dictionary

## 1.Sort dictionary by using keys

In [69]:
lang_popularity = {'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}
lang_popularity

{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

In [70]:
lang_popularity.keys()

dict_keys(['Python', 'Java', 'C', 'R', 'GoLang'])

In [72]:
sorted_keys = sorted(lang_popularity.keys())
sorted_keys

['C', 'GoLang', 'Java', 'Python', 'R']

In [73]:
sorted_keys = sorted(lang_popularity.keys(),reverse=True)
sorted_keys

['R', 'Python', 'Java', 'GoLang', 'C']

In [74]:
for i in sorted_keys:
    print("Language :",i)

Language : R
Language : Python
Language : Java
Language : GoLang
Language : C

In [75]:
sorted_dict = {}
for i in sorted_keys:
    sorted_dict.update({i : lang_popularity[i]})
    print(sorted_dict)

{'R': 79}
{'R': 79, 'Python': 95}
{'R': 79, 'Python': 95, 'Java': 89}
{'R': 79, 'Python': 95, 'Java': 89, 'GoLang': 70}
{'R': 79, 'Python': 95, 'Java': 89, 'GoLang': 70, 'C': 75}

In [76]:
lang_popularity

{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

In [77]:
sorted_keys = sorted(lang_popularity.keys())

In [78]:
sorted_dict = {}
for i in sorted_keys:
    sorted_dict.update({i:lang_popularity[i]})
    print(sorted_dict)

{'C': 75}
{'C': 75, 'GoLang': 70}
{'C': 75, 'GoLang': 70, 'Java': 89}
{'C': 75, 'GoLang': 70, 'Java': 89, 'Python': 95}
{'C': 75, 'GoLang': 70, 'Java': 89, 'Python': 95, 'R': 79}

In [1]:
di1 = {"key1" : "val1"}
di1

{'key1': 'val1'}

# fromkeys()
- dict.fromkeys(sequence,[val])

In [2]:
di = {}
di

{}

In [10]:
result = di.fromkeys(["One","Two","Three"])
result

{'One': None, 'Two': None, 'Three': None}

In [11]:
di

{}

In [12]:
result.values()

dict_values([None, None, None])

In [13]:
result.keys()

dict_keys(['One', 'Two', 'Three'])

In [14]:
di.fromkeys(['One', 'Two', 'Three'],[1,2,3])

{'One': [1, 2, 3], 'Two': [1, 2, 3], 'Three': [1, 2, 3]}

In [15]:
di.fromkeys(['One', 'Two', 'Three'],1)

{'One': 1, 'Two': 1, 'Three': 1}

In [17]:
di.fromkeys(['One', 'Two', 'Three'],"Python")

{'One': 'Python', 'Two': 'Python', 'Three': 'Python'}

In [18]:
for i in result.values():
    print(type(i))

<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>

# setdefault()
- Return a value with a specified key
- If specified key is not present in dictionary ,then it will gets added

In [19]:
new_di = {
    "Employee_fname"       : "Sanjay",
    "Employee_lname"       : "Thakur",
    "Employee_ID"          : 10010,
    "Employee_Designation" : "Data Analyst",
    "Employee_salary"      : 1500000,
    "Employee_Location"    : "Pune"
}
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune'}

In [20]:
new_di.setdefault("Employee_Location")

'Pune'

In [21]:
new_di.setdefault("Employee_Location1")

In [22]:
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None}

In [24]:
new_di.setdefault("Employee_Location2", "Mumbai")

'Mumbai'

In [25]:
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Mumbai'}

In [26]:
new_di.setdefault("Employee_ID",10011)

10010

In [28]:
new_di.setdefault("Employee_ID_vendor")

In [29]:
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Mumbai',
 'Employee_vendor': None,
 'Employee_ID_vendor': None}

In [32]:
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Mumbai',
 'Employee_ID_vendor': None}

In [35]:
new_di.setdefault("Employee_ID_vendor1",11211)

11211

In [36]:
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Mumbai',
 'Employee_ID_vendor': None,
 'Employee_ID_vendor1': 11211}

# Copy

In [37]:
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Mumbai',
 'Employee_ID_vendor': None,
 'Employee_ID_vendor1': 11211}

In [38]:
new_di1 = new_di
new_di1["XYZ"] = 100
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Mumbai',
 'Employee_ID_vendor': None,
 'Employee_ID_vendor1': 11211,
 'XYZ': 100}

In [39]:
new_di = {
    'Employee_fname': 'Sanjay',
    'Employee_lname': 'Thakur',
    'Employee_ID': 10010,
    'Employee_Designation': 'Data Analyst',
    'Employee_salary': 1500000,
    'Employee_Location': 'Pune',
    'Employee_Location1': None,
    'Employee_Location2': 'Mumbai',
    'Employee_ID_vendor': None,
    'Employee_ID_vendor1': 11211
}
new_di2 = new_di.copy()
new_di2["XYZ"] = 100
new_di

{'Employee_fname': 'Sanjay',
 'Employee_lname': 'Thakur',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Mumbai',
 'Employee_ID_vendor': None,
 'Employee_ID_vendor1': 11211}